<!-- Quarter Boxes -->
<div>
    <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
      <div class="d-flex justify-content-between card-header py-2 mt-2">
        <div>
          <b>Year:</b> {{tdl.year}}
        </div>
        <div class="text-right">
          <b>BASE LINE :</b>{{department.baseline}}
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;" [style.border-color]="lev.successInfo.color">
          <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'">            <div>
              <!-- <small>Quarter</small> -->
              <div class="text-uppercase">{{lev.quarter}}</div>
            </div>
            <div class="text-right">
              <!-- <small>Status (role)</small> -->
              <div class="text-capitalize">{{lev.status}}
                <br>({{lev.role}})</div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2 mx-2">
            <div>
              <small>Baseline</small>
              <div>{{lev.baseline}}</div>
            </div>
            <div class="text-right">
              <small>Estimated Cost </small>
              <div>{{tdl.estimatedCost}}</div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2 mx-2">
            <div>
              <small>Target </small>
              <div> {{lev.estimatedTargetLevel}}</div>
            </div>
            <div class="text-right">
              <small>End Date </small>
              <div>{{lev.endDate + tdl.year}}</div>
            </div>
          </div>
          <div class="d-flex justify-content-between  mt-2 mx-2">
            <div>
              <div *ngIf="lev.status!='unsubmitted'">
                <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);programListView = true;">
                  <!-- <strong>Number of Rresearch Consultancy Project</strong> -->
                  <small>Research Consultancy Projects
                    <i class="fas fa-eye"></i>
                  </small>
                </a>
                <div>{{lev.researchConsultancies.length}}</div>
              </div>
            </div>
            <div class="text-right">
              <small>Current Cost </small>
              <div>{{lev.currentCost}}</div>
            </div>
          </div>
          <div class="d-flex justify-content-center m-1" *ngIf="!lev.disable">
            <button class="btn-link link primary-link text-primary" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)" *ngIf="lev.status=='unsubmitted'">
              <i class="fas fa-sign-in-alt"></i> Fill
            </button>
            <button class="btn-link link primary-link text-primary" *ngIf="lev.researchConsultancies.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)" [disabled]="lev.disable">
              <i class="fas fa-lock"></i> Lock
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end of quarter boxes -->



<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Research Consultancy</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="isUpdating=false">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="researchConsultancyForm" (submit)="submitForm()" *ngIf="!programListView">
        <div class="modal-body">
          <div class="row">
          <div class="form-group col-lg-12">
            <label class="control-label">Project Title:</label>
            
              <input type="text" class="form-control"  formControlName="projectTitle">
            
          </div>
          <div class="form-group col-lg-12 col-sm-12">
            <label class="control-label">Description:</label>
            
              <textarea class="form-control" formControlName="description" rows="2"></textarea>
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Current Cost</label>
            
              <input type="number" class="form-control" formControlName="currentCost">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Start Date</label>
            
              <input type="date" class="form-control" formControlName="startDate">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Estimated Time</label>
            
              <input type="text" class="form-control" formControlName="estimatedTime">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Externals Partner</label>
            
              <input type="text" class="form-control" formControlName="externalPartners">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Fund From External Partners:</label>
            
              <input type="number" class="form-control" formControlName="fundFromExternalPartners">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Fund From University</label>
            
              <input type="number" class="form-control" formControlName="fundFromUniversity">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Number of Researchers Involved</label>
            
              <input type="number" class="form-control" formControlName="totalResearchersInvolved">
            
          </div>
          <div class="form-group col-sm-12 col-lg-4">
            <label class="control-label">Number of Faculty Involved </label>
            
              <input type="number" class="form-control" formControlName="totalFacultyInvolved">
            
          </div>
          <div class="form-groupcol-lg-12 col-sm-12">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember" formControlName="interDisciplinaryProject"> Inter Disciplinary Project</label>
              </div>
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="programListView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn btn-default" [disabled]="researchConsultancyForm.invalid"> Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="programListView">
        <div class="modal-body">
            <div>
                  Exchange Programs
                <button class="float-right btn-sp btn-sp-small btn-primary" (click)="programListView = false;resetForm()">
                    <i class="fas fa-plus-circle"></i> Add New
                </button>
              </div>
              <div class="table-responsive">
          <table class="table table-bordered table-card" style="position: relative;">
            <thead>
              <tr>
                <th style="vertical-align:middle;">*</th>
                <th style="vertical-align:middle;">Project</th>
                <th style="vertical-align:middle;">Description</th>
                <th style="vertical-align:middle;">Start Date</th>
                <th style="vertical-align:middle;">Estimated Time</th>
                <th style="vertical-align:middle;">External Partners</th>
                <th style="vertical-align:middle;">Fund From External Partnenrs</th>
                <th style="vertical-align:middle;">Fund From University</th>
                <th style="vertical-align:middle;">No. of Researchers Involved</th>
                <th style="vertical-align:middle;">No. of Faculty Involved</th>
                <th style="vertical-align: middle">Evidence</th>
                <th style="vertical-align: middle">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of selectedQuarter.researchConsultancies;let p = index;" style="position: relative;">
                <td>{{p+1}}</td>
                <td>{{project.projectTitle}}</td>
                <td>{{project.description}}</td>
                <td>{{project.startDate}}</td>
                <td>{{project.estimatedTime}}</td>
                <td>{{project.externalPartners}}</td>
                <td>{{project.fundFromExternalPartners}}</td>
                <td>{{project.fundFromUniversity}}</td>
                <td>{{project.totalResearchersInvolved}}</td>
                <td>{{project.totalFacultyInvolved}}</td>
                <td>
                  <div class="dropdown">
                    <strong>Evidence </strong>:
                    <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small> {{project.evidance.length}}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
                      <li role="presentation" *ngFor="let ev of project.evidance;let e = index;" class="d-flex justify-content-between">
                        <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url" style="float:left">evidance {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(ev,project.evidance)" [hidden]="selectedQuarter.status=='locked'">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li class="text-center" role="presentation" *ngIf="!project.evidance.length">None</li>
                      <li role="presentation" class="divider" style="clear: both;"></li>
                      <li class="text-center" role="presentation">
                        <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId" (click)="selectedForm = project" [disabled]="selectedQuarter.disable">Upload</button>    
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <button (click)="edit(project)" class="btn btn-link">
                      <i class="fas fa-edit"></i>
                  </button>
                  <button (click)="delete(project,selectedQuarter.researchConsultancies)" class="btn btn-link">
                      <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal" (click)="isUpdating=false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<evidence-form [evidanceFormId]="formId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>