<!-- Quarter Boxes -->
<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;"
        [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color"
          [class.text-black]="lev.successInfo.color == '#FFEB3B'">
          <div>
            <!-- <small>Quarter</small> -->
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <!-- <small>Status (role) </small> -->
            <div class="text-capitalize">

              {{lev.status}}
              <br>by {{lev.role}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Baseline</small>
            <div>{{lev.baseline}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Current Cost </small>
            <div>
              <input type="number" class="w-50" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
            </div>
            <div *ngIf="lev.status!='unsubmitted'|| lev.disable">{{lev.currentCost}}</div>
          </div>
          <div class="text-right">
            <small>Achievement</small>
            <div *ngIf="lev.status!='unsubmitted'|| lev.disable">{{lev.currentTargetLevel}}</div>
            <input type="number" [(ngModel)]="lev.currentTargetLevel" style="width:65px" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2" *ngIf="lev.status!='unsubmitted'">
          <div *ngIf="lev.status!='unsubmitted'" class="dropdown">
            <div class="float-right">
              <small>Evidence</small>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let ev of lev.evidance;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" style="float:left" data-toggle="modal" data-target="#evidenceFileModal"
                  (click)="storeEvidence(ev)">Evidence {{e+1}}</a>
                <button type="button" class="close" (click)="deleteEvidence(lev.evidance,ev,e)" [hidden]="lev.status=='locked'">
                  <span aria-hidden="true">&times;</span>
                </button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.evidance.length">None</li>
              <li role="presentation" class="divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId + 'd'+department.departmentId"
                  (click)="selectedQuarter = lev" [disabled]="lev.disable">Upload</button>
              </li>
            </ul>
          </div>
          <div>

          </div>
        </div>
        <!-- <div class="d-flex justify-content-between mt-2 mx-2" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
              <h6 class="text-primary">Current cost</h6>
                <input type="number" [(ngModel)]="lev.currentCost" style="width:65px">
          </div> -->
        <!-- <div class="d-flex justify-content-between  mt-2 mx-2" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
              <h6 class="text-primary">Achievement</h6>
              
          </div> -->
        <div class="d-flex justify-content-end mt-3" *ngIf="!lev.disable">
          <button class="btn-link link primary-link text-primary" *ngIf="lev.status=='unsubmitted'" [disabled]="!(lev.currentTargetLevel&&lev.currentCost)"
            (click)="saveQuarterResult(lev)" [disabled]="lev.disable"> 
            <span *ngIf="saving;else save">
                <i class="fa fa-spinner fa-spin"></i> Saving
              </span>
              <ng-template #save>Save</ng-template>
          </button>

          <button class="btn-link link primary-link text-primary ml-1" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" (click)="lev.status='unsubmitted';lev.isUpdating=true;"
            [disabled]="lev.disable">Edit</button>

          <button class="btn-link link primary-link text-primary ml-1" *ngIf="lev.isUpdating" (click)="lev.status='inprogress';lev.isUpdating=false;">
          Cancel</button>
          <button class="btn-link link primary-link text-primary ml-1" *ngIf="!isUpdating" (click)="lockQuarterResult(lev)" [disabled]="lev.status=='unsubmitted'||lev.disable">Lock</button>
        </div>
        <div class="d-flex justify-content-end mt-3" *ngIf="(!lev.disable)&&(role!='coordinator')">
          <button class="btn-link link primary-link text-primary ml-1" data-toggle="modal" data-target="#feedbackModal" (click)="selectLevel(lev)">
            Approve/Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of quarter boxes -->

<evidence-form [selectedQuarter]="selectedQuarter" [evidanceFormId]="formId + 'd'+department.departmentId" *ngIf="selectedQuarter"></evidence-form>