<!-- Quarter Boxes -->
<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;"
        [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color"
          [class.text-black]="lev.successInfo.color == '#FFEB3B'">
          <div>
            <!-- <small>Quarter</small> -->
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <!-- <small>Status (role)</small> -->
            <div class="text-capitalize">

              {{lev.status}}
              <br> by {{lev.role}}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Baseline</small>
            <div>{{lev.baseline}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Achievement</small>
            <div>{{lev.currentTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>Current Cost </small>
            <div>{{lev.currentCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-2 mx-2">
          <div>
            <div *ngIf="lev.status!='unsubmitted'">
              <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);learningListView = true;">
                <!-- <strong>Number of Community Learning Programs</strong> -->
                <small>CLP
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div>{{lev.communityLearnings.length}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center m-1" *ngIf="!lev.disable">
          <button class="btn-link link primary-link text-primary" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)"
            *ngIf="lev.status=='unsubmitted'">
            <i class="fas fa-sign-in-alt"></i> Fill
          </button>
          <button class="btn-link link primary-link text-primary" *ngIf="lev.communityLearnings.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)"
            [disabled]="lev.disable">
            <i class="fas fa-lock"></i> Lock
          </button>
        </div>
        <div class="d-flex justify-content-end mt-3" *ngIf="(!lev.disable)&&(role!='coordinator')">
          <button class="btn-link link primary-link text-primary ml-1" data-toggle="modal" data-target="#feedbackModal" (click)="selectLevel(lev)">
          Approve/Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of quarter boxes -->



<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Community Learning Form</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="isUpdating=false">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="communityLearningForm" (submit)="submitForm()" *ngIf="!learningListView">
        <div class="modal-body modal-box m-3">
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <label>Title</label>
              <input type="text" class="form-control" placeholder="Enter title" formControlName="title">
            </div>
            <div class="col-lg-6 col-sm-12">
                <label>Learning Type</label>
                <select class="form-control" formControlName="learningType">
                    <option value="course">Course</option>
                    <option value="workshop">Workshop</option>
                    <option value="seminar">Seminar</option>
                    <option value="conference">conference</option>
                </select>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-lg-4 col-sm-12">
                <label>Current Cost</label>
                <input type="number" class="form-control" placeholder="Enter Current Cost" formControlName="currentCost" min="0">
            </div>
            <div class="col-lg-4 col-sm-12">
                <label>Start Date</label>
                <input type="date" class="form-control" formControlName="startDate">
              </div>
              <div class="col-lg-4 col-sm-12">
                  <label>End Date</label>
                  <input type="date" class="form-control" formControlName="endDate">
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-lg-4 col-sm-12">
                  <label>Inside Participants</label>
                  <input type="number" class="form-control" formControlName="totalInsideParticipants">
              </div>
              <div class="col-lg-4 col-sm-12">
                  <label>Outside Participants</label>
                  <input type="number" class="form-control" formControlName="totalOutsideParticipants">
                </div>
                <div class="col-lg-4 col-sm-12">
                    <label>Sponsors</label>
                    <input type="text" class="form-control" formControlName="sponsors">
                </div>
              </div>
          </div>
        <div class="modal-footer">
          <button class="btn-sp btn-primary" (click)="learningListView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn-sp btn-primary" [disabled]="communityLearningForm.invalid">Submit</button>
          <button class="btn-sp btn-clear" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="learningListView">
        <div class="modal-body">
          <h5>
            <button class="float-right btn-sp btn-sp-small btn-primary" (click)="learningListView = false;">
                <i class="fas fa-plus-circle"></i> Add New
            </button>
          </h5>
          <div class="table-responsive">
          <table class="table table-bordered table-bordered">
            <thead>
              <tr>
                <th>*</th>
                <th>Learning</th>
                <th>Learning Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Sponsor</th>
                <th>No. of Inside Participants</th>
                <th>No. of Outside Participants</th>
                <th>Evidence</th>
                <th *ngIf="role=='coordinator'">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let learning of selectedQuarter.communityLearnings;let p = index;">
                <td>{{p+1}}</td>
                <td>{{learning.title}}</td>
                <td>{{learning.learningType}}</td>
                <td>{{learning.startDate}}</td>
                <td>{{learning.endDate}}</td>
                <td>{{learning.sponsors}}</td>
                <td>{{learning.totalInsideParticipants}}</td>
                <td>{{learning.totalOutsideParticipants}}</td>
                <td>
                  <div class="dropdown">
                    <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown">
                     Files {{learning.evidance.length}}
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" class="d-flex justify-content-between flex-column list-group">
                      <li role="presentation" *ngFor="let ev of learning.evidance;let e = index;" class="d-flex justify-content-between list-group-item">
                        <a class="btn-link" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#evidenceFileModal" (click)="storeEvidence(ev)">Evidance {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(ev,learning.evidance)" [hidden]="selectedQuarter.status=='locked'">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li class="list-group-item" role="presentation" *ngIf="!learning.evidance.length">None</li>
                      <li class="list-group-item" role="presentation">
                        <button class="btn-sp btn-sp-small btn-primary" *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId + 'd'+department.departmentId"
                          (click)="selectedForm = learning" [disabled]="selectedQuarter.disable">Upload</button>
                      </li>
                    </ul>
                  </div>
                </td>
                <td *ngIf="role=='coordinator'">
                    <span class="option">
                        <button class="btn btn-link" (click)="edit(learning)">
                          <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-link" (click)="delete(learning,selectedQuarter.communityLearnings)">
                            <i class="fas fa-trash"></i>
                        </button>
                      </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-primary" (click)="learningListView = false;resetForm()">
            Add
          </button>
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal" (click)="isUpdating=false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<evidence-form [evFormId]="formId" [selectedQuarter]="selectedQuarter" [evidanceFormId]="formId + 'd'+department.departmentId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>
