// drobdownbox selector
.dropdown-selector{
    position:relative;
    .box{
        padding: 5px;
    font-size: 14px;
    margin-top:5px;
    box-shadow:0 0 10px lightgrey;
    }
}
// end of dropdown box selector