<nav class="navbar navbar-fixed-top" id="top">
  <div class="navbar-header">
    <a class="navbar-brand" [attr.href]="'#/'+userDetails.roleInfo[0].role">NxtLife</a>
  </div>
  <!-- <ul class="nav navbar-nav navbar-left">
    <li routerLinkActive="active">
      <a routerLink="/">Operational Performance Indicators</a>
    </li>
  </ul> -->
  <ul class="nav navbar-nav">
    <li routerLinkActive="active"><a routerLink="./home">Operational Performance Indicators</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Achievement
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="by-goal">By Goal</a></li>
        <li><a routerLink="by-kpi">By KPI</a></li>
        <li><a routerLink="by-department">By Department</a></li>
        <li><a routerLink="by-frequency">By Quarter</a></li> 
      </ul>
    </li>
    <li class="dropdown" >
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Action Plan
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a routerLink="action-step">Over All </a></li>
        <li><a routerLink="action-step/by-department"> By Department</a></li>
        <li><a routerLink="action-step/my-action-step">My Action Steps</a></li>
      </ul>
    </li>
    <li routerLinkActive="active"><a routerLink="annual-achievement">Annual Achievement</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span>
        <strong style="text-transform: capitalize">{{userDetails.firstName}}({{userDetails.roleInfo[0].role}})</strong>
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <div class="navbar-login">
            <div class="row">
              <div class="col-lg-4">
                <p class="text-center">
                  <span class="glyphicon glyphicon-user icon-size"></span>
                </p>
              </div>
              <div class="col-lg-8">
                <p class="text-left">
                  <strong>{{userDetails.firstName}} {{userDetails.lastName}}</strong>
                  <br>
                </p>
                <p class="text-left small">{{userDetails.email}}</p>
                <b>Department : </b>
                <p class="text-left small">{{userDetails.roleInfo[0].department}}</p>
                <!-- <p class="text-left">
                  <a href="#" class="btn btn-primary btn-block btn-sm">Profile</a>
                </p> -->
              </div>
            </div>
          </div>
        </li>
        <li class="divider"></li>
        <li>
          <div class="navbar-login navbar-login-session">
            <div class="row">
              <div class="col-lg-6"></div>
              <div class="col-sm-6">
                <p>
                  <a routerLink="/login" class="btn btn-danger btn-block btn-save" (click)="logout()">Logout</a>
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>