<div class="filter-modal">
  <router-outlet></router-outlet>
</div>
<div class="container-fluid" style="padding-top:25px;">
    <div class="bg-nav">
      <div class="form-inline" style="margin-bottom: unset">
        <button class="btn btn-save pull-right" (click)="getOpi();">
          <span class="glyphicon glyphicon-refresh"></span>
          Reload
        </button>
        <div class="form-group dropdown-st">
          <label class="control-label">Strategic Plan</label>
          <select id="cycle" name="cycle" class="form-control" (ngModelChange)="getOpiResult($event)" style="width:auto;height: auto;padding: 0px;" [(ngModel)]="defaultCycle">
            <option *ngFor="let c of cycles;let y = index;" [ngValue]="c" >{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}]</option>
          </select>
        </div>
        <div class="form-group dropdown-st" *ngIf="defaultCycle">
          <label class="control-label">Plan Year</label>
          <select id="year" name="year" class="form-control" (ngModelChange)="getOpiResultByYear(defaultCycle.cycleId,$event)" style="width:auto;height: auto;padding: 0px;" ngModel>
            <option *ngFor="let y of defaultCycle.cycle;let y = index;" [value]="y" >{{y}}]</option>
          </select>
        </div>
      </div>
    </div>
  <div class="card table-card">
    <div class="grid">
      <div class="grid-head" style="grid-template-columns:16% 16% 16% 16% 16% 17% 3% ">
        <div class="item">
          <span class="hide-text">GOAL</span>
          <form action="" class="search-form">
            <div class="form-group has-feedback" style="margin-bottom:10px;">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" (keyup)="searchGoal($event)" placeholder="GOAL">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
          <select class="form-control" (ngModelChange)="selectGoal($event);initiatives=$event.initiatives" ngModel>
            <option *ngFor="let goal of goalsCopy;let i = index;" [ngValue]="goal">{{goal.goal}}</option>
          </select>
        </div>
        <div class="item">
          <span class="hide-text">INITIATIVE</span>
          <form action="" class="search-form">
            <div class="form-group has-feedback" style="margin-bottom:10px;">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" (keyup)="searchInitiative($event)" placeholder="INITIATIVE">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
          <select class="form-control" (ngModelChange)="selectInitiative($event);activities=$event.activities" ngModel>
            <option *ngFor="let initiative of initiatives;let i = index;" [ngValue]="initiative">{{initiative.initiative}}</option>
          </select>
        </div>
        <div class="item">
          <span class="hide-text">ACTIVITY</span>
          <form action="" class="search-form">
            <div class="form-group has-feedback" style="margin-bottom:10px;">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" (keyup)="searchActivity($event)" placeholder="ACTIVITY">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
          <select class="form-control" (ngModelChange)="selectActivity($event);opis = $event.opis;" ngModel>
            <option *ngFor="let activity of activities;let i = index;" [ngValue]="activity">{{activity.activity}}</option>
          </select>
        </div>
        <div class="item">
          <span class="hide-text">KPI</span>
          <form action="" class="search-form">
            <div class="form-group has-feedback" style="margin-bottom:10px;">
              <label for="search" class="sr-only">Search</label>
              <input type="text" class="form-control" name="search" id="search" (keyup)="searchOpi($event)" placeholder="KPI">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
          <select class="form-control" (ngModelChange)="selectKpi($event)" ngModel>
            <option *ngFor="let opi of opis;let i = index;" [ngValue]="opi">{{opi.opi}}</option>
          </select>
        </div>
        <div class="item">
          <span class="hide-text">Kpi Details</span>
        </div>
        <div class="item">
          <span class="hide-text">Departmentwise Status</span>
        </div>
        <div class="item">
          <span class="hide-text">Edit</span>
        </div>
      </div>
      <div class="grid-outer-body" style="grid-template-columns:16% 84%;" *ngFor="let goal of goals;let i = index;">
        <div class="item" [style.grid-row-end]="goal.initiatives.length + 1">
          {{goal.goal}}
        </div>
        <div class="grid-inner-body" style="grid-template-columns:19.05% 80.95%;" *ngFor="let initiate of goal.initiatives;let j=index;">
          <div class="item" [style.grid-row-end]="initiate.activities.length + 1">
            {{initiate.initiative}}
          </div>
          <div class="grid-inner-body" style="grid-template-columns:23.53% 76.47%;" *ngFor="let activit of initiate.activities;let k=index;">
            <div class="item" [style.grid-row-end]="activit.opis.length + 1">{{activit.activity}}</div>
            <div class="grid-inner-body" style="grid-template-columns:30.8% 69.2%;" *ngFor="let msr of activit.opis;let l=index">
              <div class="item">{{msr.opi}}</div>
              <div class="grid-inner-body" style="grid-template-columns:44.5% 55.5%;">
                <div class="item">
                  <p><strong>Frequency</strong> : {{msr.frequency}}</p>
                  <p><strong>Evidence Form</strong> : {{msr.evidanceForm}}<span *ngIf="!msr.evidanceForm">None</span><p>
                </div>
                <div class="grid-inner-body" style="grid-template-columns:85% 15%;">
                  <div class="item" style="padding:0px;">
                    <div *ngFor="let dept of msr.departmentInfo;let d = index" style="padding:5px;text-align:left;"
                    [style.border-bottom]="d!=msr.departmentInfo.length-1?'1px solid':'unset'">
                      <p style="margin-bottom: 5px;">{{dept.department}}</p>
                      <div [style.background-color]="dept.quarterStatus.successInfo.color" style="padding: 5px;
                        border-radius: 50%;height: 25px;min-width: 25px;width:auto;
                        line-height: 1;text-align:center;float:left;" [style.color]="!dept.quarterStatus.successInfo.color">
                        <b>{{dept.quarterStatus.successInfo.difference}}</b>
                      </div>
                      <div style="padding: 2px 0px 0px 30px;">
                        <a data-toggle="modal" data-target="#myModal" (click)="selectedDepartment=dept;selectedMeasure=msr;" style="text-transform:uppercase">
                          {{dept.quarterStatus.status}}
                          <span style="text-transform: uppercase">({{dept.quarterStatus.role}})</span>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="grid-inner-body">
                    <div class="item">
                      <a [routerLink]="'./opis/' + msr.opiId" *ngIf="role!='coordinator'">Edit</a>
                      <a [routerLink]="'./kpis/'+msr.opiId" *ngIf="role=='coordinator'">Edit</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid-outer-footer" *ngIf="!goals.length">
        <div class="item">
            No Data to Display .,.
        </div>
      </div>
    </div>
    </div>
    </div>



<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg bar">
    <div class="modal-content" *ngIf="selectedDepartment">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">KPI : {{selectedMeasure.opi}}</h4>
      </div>
      <div class="modal-body">
        <div customBox>
          <div line [class]="selectedDepartment.quarterStatus[role]" *ngFor="let role of roles;">
            <h4>{{role}}</h4>
          </div>
        </div>
        <div id="statu-legend">
          <ul>
            <li class="white">None</li>
            <li class="cyan">Locked</li>
            <li class="green">Approved</li>
            <li class="red">Rejected</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>