<hod></hod>
<div class="container-fluid">
 <div class="card table-card" style="margin-top:50px;">
  <table class="table table-bordered table1 text-center">
   <colgroup>
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:20%">
    <col style="width:15%">
    <col style="width:11%">
    <col style="width:11%">
    <col style="width:3%">
   </colgroup>
   <thead class="header-background" *ngIf="goalsCopy.length">
    <tr>
     <th>
      <span class="hide-text">GOAL</span>
      <form action="" class="search-form">
       <div class="form-group has-feedback" style="margin-bottom:10px;">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" (keyup)="searchGoal($event)" placeholder="GOAL">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
       </div>
      </form>
     </th>
     <th>
      <span class="hide-text">INITIATIVE</span>
      <form action="" class="search-form">
       <div class="form-group has-feedback" style="margin-bottom:10px;">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" (keyup)="searchInitiative($event)" placeholder="INITIATIVE">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
       </div>
      </form>
     </th>
     <th>
      <span class="hide-text">ACTIVITY</span>
      <form action="" class="search-form">
       <div class="form-group has-feedback" style="margin-bottom:10px;">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" (keyup)="searchActivity($event)" placeholder="ACTIVITY">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
       </div>
      </form>
     </th>
     <th>
      <span class="hide-text">KPI</span>
      <form action="" class="search-form">
       <div class="form-group has-feedback" style="margin-bottom:10px;">
        <label for="search" class="sr-only">Search</label>
        <input type="text" class="form-control" name="search" id="search" (keyup)="searchOpi($event)" placeholder="KPI">
        <span class="glyphicon glyphicon-search form-control-feedback"></span>
       </div>
      </form>
     </th>
     <!-- <th>Frequency</th> -->
     <th>Departments</th>
     <th>Status</th>
     <th>View</th>
    </tr>
   </thead>
   <tbody>
    <tr *ngFor="let goal of goals;let i = index;">
     <td>{{goal.goal}}</td>
     <td colspan="6" style="padding:0px;border:none;" #element [style.height]="get(element)">
      <table class="table table-bordered" style="height: inherit;border:0px;">
       <colgroup>
        <col style="width:25%">
        <col style="width:75%">
       </colgroup>
       <tr *ngFor="let initiate of goal.initiatives;let j=index;">
        <td>{{initiate.initiative}}</td>
        <td colspan="4" style="padding:0px;" #element1 [style.height]="get(element1)">
         <table class="table table-bordered" style="height: inherit;border:0px;">
          <colgroup>
           <col style="width:33%">
           <col style="width:67%">
          </colgroup>
          <tr *ngFor="let activit of initiate.activities;let k=index;">
           <td [style.border-top]="k?'1px solid #ddd':'none'">{{activit.activity}}</td>
           <td colspan="4" style="padding:0px;" #element2 [style.height]="get(element2) + ' !important'">
            <table class="table table-bordered" style="height: inherit;border:0px;">
             <colgroup>
              <col style="width:37.5%">
              <col style="width:55%">
              <col style="width:7.5%">
             </colgroup>
             <tr *ngFor="let msr of activit.opis;let l=index">
              <td [style.border-top]="l?'1px solid #ddd':'none'">{{msr.opi}}</td>
              <td colspan="2" style="padding:0px;" #element3 [style.height]="get(element3) + ' !important'">
               <table class="table table-bordered" style="height: inherit;border:0px;">
                <colgroup>
                 <col style="width:50%">
                 <col style="width:50%">
                </colgroup>
                <tr *ngFor="let dept of msr.departmentInfo;let d = index">
                  <td style="padding:0px;">{{dept.department}}</td>
                  <td style="padding:0px;">
                   <a data-toggle="modal" data-target="#myModal" (click)="selectedDepartment=dept;selectedMeasure=msr;" style="text-transform:uppercase">{{dept.quarterStatus.status}}
                    <br>
                    <span style="text-transform: uppercase">({{dept.quarterStatus.role}})</span>
                   </a>
                  </td>
                </tr>
               </table>
              </td>
              <td>
               <a [routerLink]="msr.opiId">view</a>
              </td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </tbody>
   <tfoot *ngIf="!goals.length">
    <tr>
     <td colspan="4" class="text-center">No Data to Display .,.</td>
    </tr>
   </tfoot>
  </table>
 </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg bar">
    <div class="modal-content" *ngIf="selectedDepartment">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">KPI : {{selectedMeasure.opi}}</h4>
      </div>
      <div class="modal-body">
        <div customBox>
          <div line [class]="selectedDepartment.quarterStatus[role]" *ngFor="let role of roles;">
            <h4>{{role}}</h4>
          </div>
        </div>
        <div id="statu-legend">
          <ul>
            <li class="white">None</li>
            <li class="cyan">Locked</li>
            <li class="green">Approved</li>
            <li class="red">Rejected</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>