<!-- subheader -->
<div class="subheader">
  <div class="nav">
    <button class="btn btn-link" type="button" routerlink="/">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="title" *ngIf="data">
    Assigned KPI : {{data.opi}}
  </div>
</div>
<!-- end of subheader -->

<div *ngIf="data" id="edit-block">

  <!-- text-details box -->
  <div class="text-details">
    <div class='container'>
      <div class="row">
        <div class="col-lg-12">
          <b>STRATEGIC GOAL</b>
          <p>
            {{data.goal}}
          </p>
        </div>
        <div class="col-lg-12">
          <b>INITIATIVE</b>
          <p>
            {{data.initiative}}
          </p>
        </div>
        <div class="col-lg-12">
          <b>ACTIVITY</b>
          <p>
            {{data.activity}}
          </p>
        </div>
        <div class="col-lg-12">
          <b>KPI</b>
          <p>
            {{data.opi}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- end text-details box -->

  <div class="container cards-area">
    <div class="row m-3">
      <div class="col-lg-4">
        <div class="card m-10 p-3">
          <i class="fas fa-chart-bar"></i>
          <b>Frequency</b>
          <p>{{data.frequency}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-10 p-3">
          <i class="fas fa-balance-scale"></i>
          <b>MEASURE UNIT</b>
          <p>{{data.measureUnit}}</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card m-10 p-3">
          <i class="fas fa-eye"></i>
          <b>EVIDENCE FORM TYPE</b>
          <p>{{data.evidanceForm}}</p>
          <p *ngIf="!data.evidanceForm">None</p>
        </div>
      </div>
    </div>
  </div>

  <!-- filter -->
  <div class="filter animate slideInUp">
    <div class="d-flex">
      <div class="icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="form-group dropdown-st">
        <label class="control-label">Corresponding Departments</label>
        <select class="form-control" (ngModelChange)="viewDepartment($event)" [(ngModel)]="departmentModel" *ngIf="role=='hod'; else heirarchy">
          <option value="0">All Departments</option>
          <option *ngFor="let dept of data.departmentInfo;let d = index;" [ngValue]="dept">{{dept.department}}</option>
        </select>
        <ng-template #heirarchy>
          <a class="text-primary link text-small pt-0 text-center" data-toggle="modal" data-target="#departmentModal">
            <small>Departments</small>
          </a>
        </ng-template>
      </div>
    </div>
  </div>
  <!-- end of filter     -->

  <!-- TABLE -->

  <div class="container-fluid table-accordion mb-2" id="accordion">
    <fieldset class="the-fieldset panel card mb-2" *ngFor="let dept of departmentInfo;let d=index;">
      <div class="card-header">
        <div [attr.data-target]="'#demo' + dept.departmentId" data-toggle="collapse">
          {{d+1}}. {{dept.department}}
          <i class="fas fa-eye ml-2 text-primary"></i>
        </div>
      </div>
      <div [attr.id]="'demo' + dept.departmentId" class="collapse" data-parent="#accordion" [ngClass]="d?'':'show'">
        <div class="d-flex flex-row-reverse innerbuttons">
          <div>
            <button class="btn-sp btn-sp-small btn-primary" (click)="dept.actionStepView = false;" *ngIf="dept.actionStepView; else quarterView">VIEW QUARTERS</button>
          </div>
          <div>
            <ng-template #quarterView>
              <button class="btn-sp btn-sp-small btn-primary" (click)="getActionSteps(dept)" *ngIf="!dept.actionStepView">VIEW ACTION STEPS</button>
              <button class="btn btn-sp-small btn-primary" (click)="getAnnualTargetsByOpiDepartment(dept)" *ngIf="!dept.show; else currentBtn">VIEW ALL QUARTERS</button>
            </ng-template>
          </div>
          <div>
            <ng-template #currentBtn>
              <button class="btn-sp btn-sp-small btn-primary" (click)="getCurrentAnnualTargets(dept)">VIEW CURRENT QUARTERS</button>
            </ng-template>
          </div>
        </div>
        <div *ngIf="!dept.actionStepView">
          <!-- Quarter Boxes -->
          <div *ngIf="!data.evidanceFormId">
            <div class="px-3" *ngFor="let tdl of dept.opiAnnualTargets;let at=index;">
              <div class="d-flex justify-content-between card-header py-2 mt-2">
                <div>
                  <b>Year:</b> {{tdl.year}}
                </div>
                <div class="text-right">
                  <b>BASE LINE :</b>{{dept.baseline}}
                </div>
              </div>
              <div class="d-flex justify-content-center" >
                <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;" [style.border-color]="lev.successInfo.color">
                  <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'">                      <div>
                        <!-- <small>Quarter</small> -->
                          <div class="text-uppercase">{{lev.quarter}}</div> 
                      </div>
                      <div  class="text-right">
                        <!-- <small>Status (role)</small> -->
                          <div class="text-capitalize">{{lev.status}} <br>({{lev.role}})</div>
                      </div>
                    </div>

                  <div class="d-flex justify-content-between mt-2 mx-2">
                      <div>
                        <small>Estimated Cost </small>
                          <div>{{tdl.estimatedCost}}</div> 
                      </div>
                      <div class="text-right">
                          <small>Target </small>
                            <div> {{lev.estimatedTargetLevel}}</div> 
                        </div>
                    </div>

                    <div class="d-flex justify-content-between mt-2 mx-2">
                        <div>
                          <small>End Date </small>
                            <div>{{lev.endDate + tdl.year}}</div> 
                        </div>
                        <div>
                            <div *ngIf="!data.evidanceFormId">
                                <div class="dropdown" *ngIf="lev.status!='unsubmited'">
                                  <div>
                                      <small>Evidence </small>
                                  </div>
                                  <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small>
                                    <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
                                    <li role="presentation" *ngFor="let ev of lev.evidance;let e = index;" class="d-flex justify-content-between px-2">
                                      <a class="btn btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url">evidance {{e+1}}</a>
                                    </li>
                                    <li class="text-center" role="presentation" *ngIf="!lev.evidance.length">None</li>
                                  </ul>
                                </div>
                              </div>
                          </div>
                      </div>

                      <div class="d-flex justify-content-between  mt-2 mx-2">
                          <div>
                              <small>Current Cost </small>
                                <div>{{lev.currentCost}}</div> 
                          </div>
                          <div class="text-right">
                            <small>
                                Achievement
                            </small>
                            <div>{{lev.currentTargetLevel}}</div>
                            </div>
                        </div>

                  <div class="d-flex justify-content-center mt-3">
                          <button class="btn-link link primary-link text-primary" data-toggle="modal" data-target="#feedbackModal" (click)="selectedMeasure = selectedLevel = lev;"
                          [disabled]="lev.disable">
                          Approve/Reject
                        </button>
                    </div>
                </div>
            </div>
            </div>
          </div>
          <!-- end of quarter boxes -->

          <table id="accordion" class="table table-bordered" *ngIf="data.evidanceFormId">
            <caption class="px-3">
              <b>Base line : </b>{{dept.baseline}}
            </caption>
            <thead>
              <tr>
                <th>Year</th>
                <th>Estimated Cost</th>
                <th>Quarter</th>
                <th>Estimated Target Level</th>
                <th>Current Cost</th>
                <th>Current Target Level</th>
                <th>End Date</th>
                <th>Difference</th>
                <th>Status</th>
                <th>Action</th>
                <th *ngIf="!data.evidanceFormId">Evidence</th>
              </tr>
            </thead>
            <tbody *ngFor="let tdl of dept.opiAnnualTargets;let at=index;">
              <tr>
                <td [attr.rowspan]="tdl.levels.length + 3" style="vertical-align: middle;">{{tdl.year}}</td>
                <td [attr.rowspan]="tdl.levels.length + 3" style="vertical-align: middle;">{{tdl.estimatedCost}}</td>
              </tr>
              <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
                <tr>
                  <td>{{lev.quarter}}</td>
                  <td>{{lev.estimatedTargetLevel}}</td>
                  <td>{{lev.currentCost}}</td>
                  <td>{{lev.currentTargetLevel}}</td>
                  <td>{{lev.endDate + tdl.year}}</td>
                  <td>
                    <span class="badge text-white" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'" [style.text-black]="lev.successInfo.color=='#FFEB3B'">{{lev.successInfo.difference}}</span>
                    <i class="far fa-check-circle float-right" *ngIf="lev.successInfo.target=='complete';else incomplete"></i>
                    <ng-template #incomplete>
                      <i class="far fa-times-circle float-right"></i>
                    </ng-template>
                  </td>
                  <td>{{lev.status}}</td>
                  <td>
                    <button class="btn btn-link" data-toggle="modal" data-target="#feedbackModal" (click)="selectedMeasure = selectedLevel = lev;"
                      [disabled]="lev.status!='locked'">
                      Approve/Reject</button>
                  </td>
                  <td *ngIf="!data.evidanceFormId">
                    <div class="dropdown" *ngIf="lev.evidance&&lev.evidance.length">
                      <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="right: 0;left:unset;">
                        <li role="presentation" *ngFor="let ev of lev.evidance;let e = index;" class="d-flex justify-content-between px-2">
                          <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url">evidance {{e+1}}</a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>
                <tr *ngIf="lev.internshipGraph&&lev.internshipGraph.length">
                  <td></td>
                  <td colspan="8" class="p-0">
                    <table class="table table-striped mb-0">
                      <caption class="d-flex justify-content-between px-3">
                        <b>Internship Details</b>
                        <div class="dropdown">
                          <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small>
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1" style="right: 0;left:unset;">
                            <li role="presentation" *ngFor="let ev of lev.internshipDetails[0].evidance;let e = index;">
                              <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url">evidance {{e+1}}</a>
                            </li>
                          </ul>
                        </div>
                      </caption>
                      <thead>
                        <tr>
                          <th>Organization</th>
                          <th>Supervisor</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let data of lev.internshipGraph;let z = index;">
                          <td>{{data.organization}}</td>
                          <td>{{data.internalSupervisior}}</td>
                          <td>{{data.count}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr *ngIf="lev.mouDetails&&lev.mouDetails.length">
                  <td></td>
                  <td colspan="7">
                    <table class="table table-bordered">
                      <caption>
                        <b>Mous Detail</b>
                      </caption>
                      <thead>
                        <tr>
                          <th>*</th>
                          <th>Mou Type</th>
                          <th>Organisation</th>
                          <th>Evidence</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let detail of lev.mouDetails;let d = index;">
                        <tr>
                          <th>{{d+1}}</th>
                          <td>{{detail.mouType}}</td>
                          <td>{{detail.organization}}</td>
                          <td>
                            <ul class="list-group list-group-flush">
                              <li *ngIf="!detail.evidance.length" class="list-group-item">None</li>
                              <li *ngFor="let ev of detail.evidance;let e = index;" class="list-group-item">
                                <a [attr.href]="ev.url"> evidance {{e+1}}</a> ,
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>

        <!-- Action Steps -->
        <div *ngIf="dept.actionStepView" class="p-3">
          <div class="card-header d-flex justify-content-between px-2 py-1 mb-2">
            <div>
              <b>
                <span *ngIf="dept.isEdit&&dept.isNew">Edit</span>
                <span *ngIf="!dept.isEdit&&dept.isNew">Add</span>
                Action Steps
              </b>
            </div>
            <div>
              <button class="btn btn-link float-right" (click)="addNewActionStep(dept)" *ngIf="!dept.isNew">
                <i class="fas fa-plus"></i>
              </button>
              <button class="btn btn-link float-right" (click)="dept.isNew=!dept.isNew" *ngIf="dept.isNew">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <table class="table table-striped table-hover" *ngIf="!dept.isNew">
            <thead>
              <tr>
                <th>#</th>
                <th>Action</th>
                <th>Deadline</th>
                <th>Root Cause</th>
                <th>Resources</th>
                <th>Assigned Employees</th>
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let step of actionSteps;let s = index;">
                <th>{{s+1}}</th>
                <td>{{step.description}}</td>
                <td>{{step.deadline}}</td>
                <td>{{step.reason}}</td>
                <td>{{step.resources}}</td>
                <td>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item justify-content-between bg-transparent" *ngFor="let emp of step.employeeAssigned;let i = index;">
                      {{emp.firstName + emp.lastName}}
                    </li>
                    <a class="text-primary link primary-link float-right" (click)="showList(step)" data-toggle="modal" data-target="#assignModal">Assign</a>
                  </ul>
                </td>
                <td>
                  <button class="btn btn-link" (click)="editActionStep(dept,step)">
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <!-- No content -->
          <div no-content *ngIf="!actionSteps.length">
            No action steps available
          </div>
          <!-- end of no content -->
          <form class="material_form" [formGroup]="actionForm" *ngIf="dept.isNew">
            <div class="row">
              <div class="col-lg-12 col-sm-12">
                <div class="item">
                  <textarea formControlName="description" placeholder="Add description here"></textarea>
                  <label>Description</label>
                </div>
              </div>
              <div class="col-lg-12 col-sm-12">
                <div class="item">
                  <textarea formControlName="reason" placeholder="Add reason here"></textarea>
                  <label>Reason</label>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="item">
                  <textarea formControlName="resources" placeholder="Add resource here"></textarea>
                  <label>Resources</label>
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                  <label>Deadline</label>
                  <input class="form-control" type="date" formControlName="deadline">
                </div>
              </div>
            </div>
          </form>

          <div *ngIf="dept.isNew" class=' d-flex justify-content-center mt-2'>
            <button class="btn-sp btn-primary mx-1" type="button" (click)="onSubmit(dept,actionSteps)" [disabled]="actionForm.invalid">Submit</button>
          </div>
        </div>
        <!-- end of action steps -->
      </div>
    </fieldset>
  </div>

  <!-- END OF TABLE -->

</div>

<!-- Modal -->
<div class="modal fade" id="feedbackModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedLevel">
      <div class="modal-header">
          <p class="modal-title">{{data.opi}}</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="optradio">Feedback :</label>
          <label class="radio-inline">
            <input type="radio" class="mr-1" name="optradio" [(ngModel)]="selectedLevel.feedback" value="true">Approve
          </label>
          <label class="radio-inline">
            <input type="radio" class="mr-1" name="optradio" [(ngModel)]="selectedLevel.feedback" value="false">Reject
          </label>
        </div>
        <div class="form-group">
          <label for="comment">Comment :</label>
          <textarea class="form-control" id="comment" name="comment" [(ngModel)]="selectedLevel.comment"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-sp btn-primary" (click)="setQuarterFeedback(selectedLevel)">Submit</button>
        
      </div>
    </div>

  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg bar">
    <div class="modal-content" *ngIf="selectedMeasure">
      <div class="modal-header">
          <h4 class="modal-title">Current Status of KPI</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div customBox>
          <div line [class]="selectedMeasure.quarterStatus[role]" *ngFor="let role of roles;">
            <h4>{{role}}</h4>
          </div>
        </div>
        <div id="statu-legend">
          <ul>
            <li class="white">None</li>
            <li class="cyan">Locked</li>
            <li class="green">Approved</li>
            <li class="red">Rejected</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal left fade" id="departmentModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="data">
      <div class="modal-header">
          <h4 class="modal-title">Assigned Departments</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="department-hierarchy">
          <b>Organisation Unit</b>
          <tree-view id="termSheetPopup" [treeData]="departments" [assignedDepartment]="data.departmentInfo" (onSelected)="department($event)"></tree-view>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Action Feedback Modal-->
<div class="modal fade" id="feedbackActionModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedStep">
      <div class="modal-header">
          <p class="modal-title">Action : {{selectedStep.description}}</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="optradio">Feedback :</label>
          <label class="radio-inline">
            <input type="radio" class="mr-1" name="optradio" [(ngModel)]="selectedStep.feedback" value="true">Approve
          </label>
          <label class="radio-inline">
            <input type="radio" class="mr-1" name="optradio" [(ngModel)]="selectedStep.feedback" value="false">Reject
          </label>
        </div>
        <div class="form-group">
          <label for="comment">Comment :</label>
          <textarea class="form-control" id="comment" name="comment" [(ngModel)]="selectedStep.comment"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-sp btn-primary" (click)="setActionFeedback(selectedStep)">Submit</button>
      </div>
    </div>

  </div>
</div>


<!-- ASSIGN EMP MODAL -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assign Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <!-- ASSIGN EMP LIST -->
              <div class="emp-list w-100">
                  <select class="custom-select custom-select-sm" multiple id="toggle-list" [(ngModel)]="employeeIds">
                      <option *ngFor="let emp of employees;let i = index;" [ngValue]="emp" [selected]="emp.assigned" [disabled]="emp.assigned">{{emp.firstName + emp.lastName}}</option>
                    </select>
                  <div class='text-center '>
                    <small class="text-secondary">
                      <b>Note: </b>Hold ctrl/cmd for multiple selection</small>
                  </div>
                </div>
                <!-- END OF ASSIGN EMP LIST -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-primary" [disabled]="!employeeIds" (click)="assignEmployee()" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END ASSIGN EMP MODAL -->