<!-- filter -->
<div class="filter animate slideInUp">
  <div class="d-flex">
    <div class="icon">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="form-group dropdown-st">
      <label class="control-label">Strategic Plan</label>
      <select id="year" name="year" class="form-control" [(ngModel)]="defaultCycle" (ngModelChange)="getActivities($event)">
        <option *ngFor="let c of cycles;let y = index;" [ngValue]="c">{{c.title}}</option>
      </select>
    </div>
  </div>
</div>
<!-- end of filter     -->

<!-- data fidder -->
<div class="container card data-fidder animate slideInDown" style="display:none" id="add-activity">
  <div class="small-fidder">
    <div class="modal-header">
      <h5 *ngIf="!isUpdating;else editKpi">
        Add activity
      </h5>
      <ng-template #editKpi>
        <h5>Edit activity</h5>
      </ng-template>
      <button type="button" class="close" (click)="closeForm();">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="activityForm" (submit)="submitActivity()">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="form-group">
              <label for="year">Strategic Plan:</label>
              <select id="year" name="year" class="form-control" formControlName="cycleId" [ngModel]="defaultCycle.cycleId" (ngModelChange)="getObjective($event)" disabled>
                <option *ngFor="let c of cycles;let y = index;" [ngValue]="c.cycleId">{{c.title}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="form-group">
              <label for="sel1">Goal:</label>
              <select class="form-control" id="sel1" formControlName="objectiveId" (ngModelChange)="getInitiative($event)">
                <option *ngFor="let objective of objectives;let i=index;" [ngValue]="objective.goalId">{{i+1}}.{{objective.goal}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 col-lg-4 col-md-12">
            <div class="form-group">
              <label for="sel1">Initiative:</label>
              <select class="form-control" id="sel1" formControlName="initiativeId">
                <option *ngFor="let initiative of initiatives;let j=index;" [ngValue]="initiative.initiativeId">{{j+1}}.{{initiative.initiative}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Activity</label>
              <textarea class="form-control" rows="3" formControlName="activity"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-sp btn-primary" [disabled]="activityForm.invalid">
          Save
        </button>
        <button type="button" data-dismiss="modal" class="btn-sp btn-clear"  (click)="closeForm();">Close</button>
      </div>
    </form>
  </div>
</div>
<!-- end of data fidder -->

<!-- table -->
<div class="container-fluid mt-3 animate slideInDown" *ngIf="goals.length&&!loaderService.status.value">
  <div class="card">
    <div class="table-responsive">
      <div class="grid">
        <div class="grid-head" style="grid-template-columns:30% 30% 30% 10%" *ngIf="goalsCopy.length">
          <div class="item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                Goal
              </div>
              <div class="search-box">
                <span>
                  <i class="fas fa-search"></i>
                </span>
                <form>
                  <input name="search" id="search" (keyup)="searchGoal($event)">
                </form>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                Initiative
              </div>
              <div class="search-box">
                <span>
                  <i class="fas fa-search"></i>
                </span>
                <form>
                  <input name="search" id="search" (keyup)="searchInitiative($event)">
                </form>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="d-flex justify-content-between align-items-center">
              <div>
                Activity
              </div>
              <div class="search-box">
                <span>
                  <i class="fas fa-search"></i>
                </span>
                <form>
                  <input name="search" id="search" (keyup)="searchActivity($event)">
                </form>
              </div>
            </div>
          </div>
          <div class="item">
            Edit
          </div>
        </div>
        <div class="grid-outer-body" style="grid-template-columns:30% 70%" *ngFor="let goal of goals;let i = index;">
          <div class="item" [style.grid-row-end]="goal.initiatives.length + 1">
            {{goal.goal}}
          </div>
          <div class="grid-inner-body" style="grid-template-columns:42.86% 57.14%" *ngFor="let initiate of goal.initiatives;let j=index;">
            <div class="item" [style.grid-row-end]="initiate.activities.length + 1">
              {{initiate.initiative}}
            </div>
            <div class="grid-inner-body" style="grid-template-columns:75% 25%;" *ngFor="let activit of initiate.activities;let k=index;">
              <div class="item">{{activit.activity}}</div>
              <div class="grid-inner-body" style="grid-template-columns:100%;">
                <div class="item">
                  <div class="d-flex justify-content-center">
                    <div>
                      <button class="btn btn-link" type="button" (click)="updateActivity(goal,initiate,activit,highlight)" [disabled]="goal.disable||initiate.disable||activit.disable">
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                    <div>
                      <button class="btn btn-link" type="button" [disabled]="goal.disable||initiate.disable||activit.disable" (click)="deleteActivity(activit,initiate.activities,k)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                    <div class="pt-1 pl-3">
                      <input type="checkbox" [checked]="!(goal.disable||initiate.disable||activit.disable)" (change)="disable($event,activit.activityId)">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of table -->
<!-- No content -->
<div no-content *ngIf="!goals.length&&!loaderService.status.value&&!newActivity">
  Data not available
</div>
<!-- end of no content -->


<!-- add new -->
<button fab class="btn btn-primary" id="add-btn" (click)="addNewActivity()" [disabled]="defaultCycle.disable">
  <i class="fas fa-plus"></i>
</button>
<!-- end of add new -->
