.login-page .block{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:500px;
  
}

.login-bg{
  /* background-color:#6f828e; */
  background:#6f828e url(/assets/bg.png) no-repeat center -200px;
  min-height: 100vh;
  
  padding:50px;
}

.login-page .login-btn{
  text-align: center;
}
button:hover, .big-button:hover {
  border-color: white var(--color-text);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.1, var(--color-text)), to(var(--color-primary)));
}
textarea, input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

button {
  -webkit-appearance: button;
}

input, textarea, select, button, meter, progress {
  -webkit-writing-mode: horizontal-tb;
}

input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}
button, .big-button {
  display: inline-block;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  font-size: 1.167em;
  line-height: 1.429em;
  cursor: pointer;
  font-weight: bold;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-color: var(--color-text) var(--color-primary);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), color-stop(0.03, var(--color-text)), to(var(--color-primary))) padding-box;
  border-radius: 0.333em;
  padding: 0.286em 1em 0.357em;
}