<!-- Quarter Boxes -->
<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;" [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'">
          <div>
            <!-- <small>Quarter</small> -->
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <!-- <small>Status (role)</small> -->
            <div class="text-capitalize">{{lev.status}}
              <br>({{lev.role}})</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Baseline</small>
            <div>{{lev.baseline}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-2 mx-2">
          <div>
            <div *ngIf="lev.status!='unsubmitted'">
              <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);programListView = true;">
                <!-- <strong>Number of Curriculum Review Programs</strong> -->
                <small>CRP
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div>{{lev.curriculamReview.length}}</div>
            </div>
          </div>
          <div class="text-right">
            <small>Current Cost </small>
            <div>{{lev.currentCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-center m-1" *ngIf="!lev.disable">
          <button class="btn-link link primary-link text-primary" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)" *ngIf="lev.status=='unsubmitted'">
            <i class="fas fa-sign-in-alt"></i> Fill
          </button>
          <button class="btn-link link primary-link text-primary" *ngIf="lev.curriculamReview.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)" [disabled]="lev.disable">
            <i class="fas fa-lock"></i> Lock
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of quarter boxes -->



<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Curriculum Review</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="isUpdating=false">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="curriculumReviewForm" (submit)="submitForm()" *ngIf="!programListView">
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                  <label>Program</label>
                  <input type="text" class="form-control" placeholder="Enter Program" formControlName="program">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label>Review Type</label>
                    <select class="form-control" formControlName="reviewType">
                        <option value="full">full</option>
                        <option value="partial">partial</option>
                        <option value="accreditation">accreditation</option>
                        <option value="selfStudy">selfStudy</option>
                      </select>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-lg-6 col-sm-12">
                    <label>Current Cost</label>
                    <input type="text" class="form-control" placeholder="Enter Current Cost" formControlName="currentCost">
                </div>
                <div class="col-lg-6 col-sm-12">
                    <label>Number of College Staff Involved</label>
                    <input type="number" class="form-control" formControlName="totalCollegeStaffInvolved">
                </div>
              </div>
              <div class="row mt-4 px-3">
                  <div class="checkbox">
                      <label>
                        <input type="checkbox" name="remember" formControlName="sentToCurriculamCommittee"> Send to Curriculam/Committee</label>
                    </div>
                  </div>
        </div>
        <div class="modal-footer">          
          <button type="button" class="btn-sp btn-primary" (click)="programListView = true;">
            Back
          </button>
          <button type="submit" class="btn-sp btn-primary" [disabled]="curriculumReviewForm.invalid">Save</button>
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="programListView">
        <div class="modal-body">
            <div>
                <strong>
    Exchange Programs 
                </strong>
                <button class="float-right btn-sp btn-sp-small btn-primary" (click)="programListView = false;resetForm()">
                    <i class="fas fa-plus-circle"></i> Add New
                </button>
              </div>
          <table class="table table-striped table-card" style="position: relative;">
            <thead>
              <tr>
                <th style="vertical-align:middle;">*</th>
                <th style="vertical-align:middle;">Program</th>
                <th style="vertical-align:middle;">reviewType</th>
                <th style="vertical-align:middle;">College&Staff Involved</th>
                <th style="vertical-align:middle;">Evidence</th>
                <th style="vertical-align:middle;">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let program of selectedQuarter.curriculamReview;let p = index;" style="position: relative;">
                <td>{{p+1}}</td>
                <td>{{program.program}}</td>
                <td>{{program.reviewType}}</td>
                <td>{{program.totalCollegeStaffInvolved}}</td>
                <td>
                  <div class="dropdown">
                    <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small> {{program.evidance.length}}
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
                      <li role="presentation" *ngFor="let ev of program.evidance;let e = index;" class="d-flex justify-content-between">
                        <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url" style="float:left">evidance {{e+1}}</a>
                        <button class="btn btn-link" class="close" (click)="deleteEvidence(ev,program.evidance)" [hidden]="selectedQuarter.status=='locked'">
                            <i class="fas fa-trash"></i>
                        </button>
                      </li>
                      <li class="text-center" role="presentation" *ngIf="!program.evidance.length">None</li>
                      <li role="presentation" class="divider" style="clear: both;"></li>
                      <li class="text-center" role="presentation">
                        <!-- <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" data-target="#evidenceForm" [disabled]="selectedQuarter.disable" (click)="selectProgram(program)"> Upload</button> -->
                        <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId" (click)="selectedForm = program" [disabled]="selectedQuarter.disable">Upload</button>
                      </li>
                    </ul>
                  </div>
                </td>
                <td class="d-flex border-0">
                    <button (click)="edit(program)" class="btn btn-link">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button (click)="delete(program,selectedQuarter.curriculamReview)" class="btn btn-link">
                        <i class="fas fa-trash"></i>
                    </button>
                  </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal" (click)="isUpdating=false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<evidence-form [evidanceFormId]="formId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>