<div class="panel panel-default" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
  <div class="panel-heading">
    Year : {{tdl.year}}
  </div>
  <div class="panel-body row">
    <div class="col-lg-12" style="margin-bottom:5px;">
      <strong>BASE LINE : </strong> {{department.baseline}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let lev of tdl.levels;let in=index;">
      <div class="panel" style="border: 1px solid #0000001c;">
        <div class="panel-body quarter-block">
          <b class="quarter">{{lev.quarter}}</b>
          <span class="status" [style.background-color]="lev.SuccessInfo.color">{{lev.status}} - {{lev.role}}</span>
          <div class="row">
            <div class="col-sm-6">
              <strong>Estimated Cost </strong>: {{tdl.estimatedCost}}
            </div>
            <div class="col-sm-6">
              <strong>Target </strong>: {{lev.estimatedTargetLevel}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <strong>End Date </strong>: {{lev.endDate + tdl.year}}
            </div>
            <div class="col-sm-6" *ngIf="lev.currentCost">
              <strong>Current Cost</strong>: {{lev.currentCost}}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);programListView = true;">
                <strong>Number of Curriculum Review Programs</strong>
              </a> : {{lev.curriculamReview.length}}
            </div>
          </div>
        </div>
        <div class="panel-footer text-center" *ngIf="!lev.disable">
          <button type="button" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)" *ngIf="lev.status=='unsubmitted'">Fill</button>
          <button *ngIf="lev.curriculamReview.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)" [disabled]="lev.disable">Lock</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Curriculum Review</h4>
      </div>
      <form class="form-horizontal" [formGroup]="curriculumReviewForm" (submit)="submitForm()" *ngIf="!programListView">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-4">Program:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter Program" formControlName="program">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Review Type:</label>
            <div class="col-sm-8">
              <select class="form-control" formControlName="reviewType">
                <option value="full">full</option>
                <option value="partial">partial</option>
                <option value="accreditation">accreditation</option>
                <option value="selfStudy">selfStudy</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Current Cost:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter Current Cost" formControlName="currentCost">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4">Number of College Staff Involved:</label>
            <div class="col-sm-8">
              <input type="number" class="form-control" formControlName="totalCollegeStaffInvolved">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember" formControlName="sentToCurriculamCommittee"> Send to Curriculam/Committee</label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="programListView">
        <div class="modal-body">
          <table class="table table-bordered table-card" style="position: relative;">
            <caption>
              <strong>
                <u>Exchange Programs</u>
              </strong>
              <button class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </caption>
            <thead>
              <tr>
                <th style="vertical-align:middle;">*</th>
                <th style="vertical-align:middle;">Program</th>
                <th style="vertical-align:middle;">reviewType</th>
                <th style="vertical-align:middle;">College&Staff Involved</th>
                <th style="vertical-align:middle;">Evidence</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let program of selectedQuarter.curriculamReview;let p = index;" style="position: relative;">
                <td>{{p+1}}</td>
                <td>{{program.program}}</td>
                <td>{{program.reviewType}}</td>
                <td>{{program.totalCollegeStaffInvolved}}</td>
                <td>
                  <div class="dropdown">
                    <!-- <strong>Evidence </strong>: -->
                    <a class="btn btn-link dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" style="padding: 0px;">files {{program.evidance.length}}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
                      <li role="presentation" *ngFor="let ev of program.evidance;let e = index;">
                        <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url" style="float:left">evidance {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(ev,program.evidance)" [hidden]="selectedQuarter.status=='locked'">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li class="text-center" role="presentation" *ngIf="!program.evidance.length">None</li>
                      <li role="presentation" class="divider" style="clear: both;"></li>
                      <li class="text-center" role="presentation">
                        <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" data-target="#evidenceForm" [disabled]="selectedQuarter.disable" (click)="selectProgram(program)"> Upload</button>
                      </li>
                    </ul>
                  </div>
                </td>
                <!-- <span class="option">
                  <button>
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button (click)="delete(program,selectedQuarter.curriculamReview)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span> -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>