<!-- <table id="accordion" class="table table-bordered table-edit">
  <thead>
    <tr>
      <th>Year</th>
      <th>Estimated Cost</th>
      <th>Quarter</th>
      <th>Estimated Target Level</th>
      <th>End Date</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <tr>
      <td [attr.rowspan]="tdl.levels.length+4">{{tdl.year}}</td>
      <td [attr.rowspan]="tdl.levels.length+4">{{tdl.estimatedCost}}</td>
    </tr>
    <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
      <tr [style.background]="lev.disable?'lightgray':null">
        <td>{{lev.quarter}}</td>
        <td>{{lev.estimatedTargetLevel}}</td>
        <td>{{lev.endDate + tdl.year}}</td>
        <td data-toggle="collapse" [attr.data-target]="'#row-collapse'+d+'d'+at+'lev'+in" (click)="collapseOff('#row-collapse'+d+'d'+at+'lev'+in, lev)">
          <button class="btn btn-link text-center">
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
      <ng-container>
        <tr [attr.id]="'row-collapse'+d+'d'+at+'lev'+in" class="collapse collapse-off">
          <td colspan="5">
            <table class="table table-bordered" *ngIf="lev.mouDetails.length">
              <caption align="top">
                <div class="input-group d-flex justify-content-end align-items-center">
                  <div class="input-group-addon m-1">Current Cost</div>
                  <div class="m-1">
                    <input class="form-control" [(ngModel)]="lev.currentCost" [disabled]="!lev.edit" autofocus>
                  </div>
                  <div class="m-1">
                    <span *ngIf="!lev.edit;else savebtn" [hidden]="lev.disable">
                      <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit=true;lev.currentCostCopy=lev.currentCost;">
                        <i class="fas fa-edit"></i> Edit
                      </button>
                    </span>
                    <ng-template #savebtn>
                      <button class="btn-sp btn-primary btn-sp-small mr-1" (click)="updateCurrentCost(lev);">
                        <i class="fas fa-save"></i> Save
                      </button>
                      <button type="button" class="btn-sp btn-primary btn-sp-small" (click)="lev.edit = false;lev.currentCost=lev.currentCostCopy;">
                        <i class="fas fa-trash mr-1"></i> Cancel
                      </button>
                    </ng-template>


                    <button class="btn-sp btn-primary btn-sp-small" (click)="lockQuarterResult(lev)" *ngIf="lev.mouDetails.length&&!lev.disable" [disabled]="lev.status=='locked'"
                      [disabled]="lev.disable">Lock </button>

                  </div>
                </div>
              </caption>
              <colgroup>
                <col style="width:5%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:25%">
                <col style="width:20%" [hidden]="lev.disable">
              </colgroup>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Mou Type</th>
                  <th>Organisation</th>
                  <th>MOU</th>
                  <th [hidden]="lev.disable">
                    <button class="btn btn-link text-white" *ngIf="lev.mouDetails.length" (click)="lev.addMore=true;">
                      Add new
                      <i class="fas fa-plus"></i>
                    </button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let detail of lev.mouDetails;let d=index;">
                <tr>
                  <td rowspan="2">{{d+1}}</td>
                  <ng-container *ngIf="!detail.edit; else editable">
                    <td>
                      {{detail.mouType}}
                    </td>
                    <td>
                      {{detail.organization}}
                    </td>
                  </ng-container>
                  <ng-template #editable>
                    <td>
                      <input [(ngModel)]="detail.mouType">
                    </td>
                    <td>
                      <input [(ngModel)]="detail.organization">
                    </td>
                  </ng-template>
                  <td>
                    <div class="dropdown">
                      <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown">
                        <small>Files</small>
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li role="presentation" *ngFor="let ev of detail.evidance;let e = index;" class="px-2 d-flex justify-content-between">
                          <a class="btn-link" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#evidenceFileModal" (click)="storeEvidence(ev)">Evidence {{e+1}}</a>
                          <button class="btn btn-link p-0" (click)="deleteEvidence(detail.evidance,ev,e)" [hidden]="detail.status=='locked'">
                            <small>
                              <i class="fas fa-trash"></i>
                            </small>
                          </button>
                        </li>
                        <li class="text-center" role="presentation" *ngIf="!detail.evidance.length">None</li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation" class=" border-top">
                          <button class="btn btn-link m-auto" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId"
                            (click)="selectedQuarter = lev;selectedForm = detail" [disabled]="lev.disable">
                            <i class="fas fa-upload"></i> Upload</button>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td [hidden]="lev.disable">
                    <ng-container *ngIf="!detail.edit; else editableBtn">
                      <button class="btn btn-link" (click)="detail.edit=true;detail.mouTypeCopy=detail.mouType;detail.organizationCopy=detail.organization;">
                        <i class="fas fa-edit"></i>
                      </button>
                    </ng-container>
                    <ng-template #editableBtn>
                      <button class="btn btn-link" (click)="updateMou(detail)">
                        <i class="fas fa-save"></i>
                      </button>
                      <button class="btn btn-link" (click)="detail.edit=false;detail.mouType=detail.mouTypeCopy;detail.organization=detail.organizationCopy;">
                        <i class="fas fa-sync"></i>
                      </button>
                    </ng-template>
                    <button class="btn btn-link" (click)="deleteMou(lev.mouDetails,detail,d)">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="lev.addMore">
                <tr>
                  <td></td>
                  <td>
                    <input class="form-control" [(ngModel)]="lev.mouType">
                  </td>
                  <td>
                    <input class="form-control" [(ngModel)]="lev.organization">
                  </td>
                  <td colspan="2">
                    <button class="btn-sp btn-primary btn-sp-small" (click)="saveQuarterResultWithMou(lev)">Save </button>
                    <button class="btn-sp btn-cancel btn-sp-small" *ngIf="lev.addMore" (click)="lev.addMore=false;">Cancel </button>
                  </td>
                </tr>
              </tfoot>
            </table>

            <div class="d-flex justify-content-between align-items-center" *ngIf="!lev.mouDetails.length">
              <div class="px-3">
                Current Cost
                <input type="text" class="form-control" [(ngModel)]="lev.currentCost" [disabled]="lev.disable">
              </div>
              <div class="px-3">
                MOU Type
                <input type="text" class="form-control" [(ngModel)]="lev.mouType" [disabled]="lev.disable" placeholder="add MOU">
              </div>
              <div class="px-3">
                Organization
                <input type="text" class="form-control" [(ngModel)]="lev.organization" [disabled]="lev.disable"
                  placeholder="add organization">
              </div>
              <div>
                <button class="btn-sp btn-primary btn-sp-small" (click)="saveQuarterResultWithMou(lev)" [disabled]="lev.disable">Save</button>
              </div>
            </div>

          </td>
        </tr>
      </ng-container>
    </ng-template>
  </tbody>
</table> -->


<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;" [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'">
          <div>
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <div class="text-capitalize">{{lev.status}}
              <br>({{lev.role}})</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Baseline</small>
            <div>{{lev.baseline}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Achievement</small>
            <div>{{lev.currentTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>Current Cost </small>
            <div>{{lev.currentCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-2 mx-2">
          <div>
            <div *ngIf="lev.status!='unsubmitted'">
              <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);mouListView = true;">
                <small>MOU Forms
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div>{{lev.mouDetails.length}}</div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center m-1" *ngIf="!lev.disable">
          <button class="btn-link link primary-link text-primary" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)" *ngIf="lev.status=='unsubmitted'">
            <i class="fas fa-sign-in-alt"></i> Fill
          </button>
          <button class="btn-link link primary-link text-primary" *ngIf="lev.mouDetails.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)" [disabled]="lev.disable">
            <i class="fas fa-lock"></i> Lock
          </button>
        </div>
        <div class="d-flex justify-content-end mt-3" *ngIf="(!lev.disable)&&(role!='coordinator')">
          <button class="btn-link link primary-link text-primary ml-1" data-toggle="modal" data-target="#feedbackModal" (click)="selectLevel(lev)">
          Approve/Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
 
   <!-- Modal content-->
   <div class="modal-content">
    <div class="modal-header">
       <h5 class="modal-title">Mous</h5>
     <button type="button" class="close" data-dismiss="modal" (click)="isUpdating=false">&times;</button>
    </div>
    <form class="form-horizontal" [formGroup]="mouForm" (submit)="submitForm()" *ngIf="!mouListView">
      <div class="modal-body">
        <div class="row">
          <div class="form-group col-lg-12 col-sm-12">
            <label>Mou Type </label>
            <input type="text" class="form-control" formControlName="mouType">
          </div>
          <div class="form-group col-lg-12 col-sm-12">
            <label>Organization</label>
            <textarea class="form-control" formControlName="organization" rows="2"></textarea>
          </div>
          <div class="form-group col-lg-12 col-sm-12">
            <label>Current Cost</label>
            <input type="number" class="form-control" formControlName="currentCost" min="0">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="mouListView = true;">
          Back
        </button>
        <button type="submit" class="btn-sp btn-primary" [disabled]="mouForm.invalid" [disabled]="saving">
          <span *ngIf="saving;else save">
            <i class="fa fa-spinner fa-spin"></i> Saving
          </span>
          <ng-template #save>Save</ng-template>
        </button>
        <button type="button" class="btn-sp btn-clear" data-dismiss="modal">Close</button>
      </div>
    </form>
    <div *ngIf="mouListView">
     <div class="modal-body">
         <div class="table-responsive">
      <table class="table table-bordered table-card">
      <thead>
       <tr>
        <th style="vertical-align:middle;">#</th>
        <th style="vertical-align:middle;">Mou Type</th>
        <th style="vertical-align:middle;">Organization</th>
        <th style="vertical-align: middle">Evidence</th>
        <th style="vertical-align: middle" *ngIf="role=='coordinator'">Action</th>
       </tr>
      </thead>
      <tbody>
       <tr *ngFor="let mou of selectedQuarter.mouDetails;let p = index;">
        <td>{{p+1}}</td>
        <td>{{mou.mouType}}</td>
        <td>{{mou.organization}}</td>
        <td>
         <div class="dropdown">
           <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small> {{mou.evidance.length}}
           </a>
           <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
             <li role="presentation" *ngFor="let ev of mou.evidance;let e = index;" class="d-flex justify-content-between px-2">
               <a class="btn-link" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#evidenceFileModal" (click)="storeEvidence(ev)">evidance {{e+1}}</a>
               <button type="button" class="btn btn-link p-0" (click)="deleteEvidence(ev,mou.evidance)" [hidden]="selectedQuarter.status=='locked'">
                  <i class="fa fa-trash" aria-hidden="true"></i>
               </button>
             </li>
             <li class="text-center" role="presentation" *ngIf="!mou.evidance.length">None</li>
             <li role="presentation" class="divider" style="clear: both;"></li>
             <li class="text-center" role="presentation">
               <button class="btn-link" *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId + 'd'+department.departmentId" (click)="selectedForm = mou" [disabled]="selectedQuarter.disable">Upload</button>
             </li>
           </ul>
         </div>
       </td>
       <td *ngIf="role=='coordinator'">
        <span class="option d-flex justify-content-between">
         <button (click)="edit(mou)" class="btn btn-link"><i class="fas fa-edit"></i></button>
         <button (click)="delete(mou,selectedQuarter.mouDetails)" class="btn btn-link">  <i class="fas fa-trash"></i></button>
        </span>
        </td>
       </tr>
      </tbody>
      </table>
     </div>
     </div>
     <div class="modal-footer">
        <button type="button" class="btn-sp btn-primary" data-dismiss="modal" (click)="mouListView = false;resetForm()">Add New</button>
       <button type="button" class="btn-sp btn-clear" data-dismiss="modal" (click)="isUpdating=false">Close</button>
     </div>
    </div>
   </div>
  </div>
 </div>

 <evidence-form [evFormId]="formId" [selectedQuarter]="selectedQuarter" [evidanceFormId]="formId + 'd'+department.departmentId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>