<!-- subheader -->
<div class="subheader">
  <div class="nav">
      <button class="btn btn-link" type="button">
          <i class="fas fa-arrow-left"></i>
      </button>
  </div>
  <div class="title">
      KPI DETAILS
  </div>
</div>
<!-- end of subheader -->

<!-- text-details box -->
<div class="text-details">
  <div class='container'>
      <div class="row">
          <div class="col-lg-12">
              <b>STRATEGIC GOAL</b>
              <p>
                  {{data.goal}}
              </p>
          </div>
          <div class="col-lg-12">
              <b>INITIATIVE</b>
              <p>
                  {{data.initiative}}
              </p>
          </div>
          <div class="col-lg-12">
              <b>ACTIVITY</b>
              <p>
                  {{data.activity}}
              </p>
          </div>
          <div class="col-lg-12">
              <b>OPI</b>
              <p>
                  {{data.opi}}
              </p>
          </div>
        </div>
  </div>
</div>
<!-- end text-details box -->
  <div class="panel" *ngIf="data" id="first-section">

    <div class="panel-body">


      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let report of data.quartersAnnualReport;let rp=index;">
          <div class="panel">
            <div class="panel-body quarter-block">
              <b class="quarter">{{report.quarter}}</b>
              <span class="status">Over all Status</span>
              <div class="row">
                <div class="col-sm-6">
                  <strong>Estimated Cost </strong>: {{report.estimatedCost}}
                </div>
                <div class="col-sm-6">
                  <strong>Estimated Target </strong>: {{report.estimatedTargetLevel}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <strong>Current Cost </strong>:
                  <span>{{report.currentCost}}</span>
                </div>
                <div class="col-sm-6">
                  <strong>Achievement</strong>:
                  <span>{{report.currentTargetLevel}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container cards-area">
        <div class="row m-3">
          <div class="col-lg-4">
            <div class="card m-10 p-3">
              <i class="fas fa-chart-bar"></i>
              <b>Frequency</b>
              <p>{{data.frequency}}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card m-10 p-3">
                <i class="fas fa-balance-scale"></i>
              <b>MEASURE UNIT</b>
              <p>{{data.measureUnit}}</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card m-10 p-3">
                <i class="fas fa-eye"></i>
              <b>EVIDENCE FORM TYPE</b>
              <p>{{data.evidanceForm}}</p>
              <p *ngIf="!data.evidanceForm">None</p>
            </div>
          </div>
        </div>
      </div>


<!-- filter -->
<div class="filter animate slideInUp">
    <div class="d-flex">
      <div class="icon">
        <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="form-group dropdown-st">
        <label class="control-label">Corresponding Departments</label>
        <select id="year" name="year" class="form-control" (ngModelChange)="viewDepartment($event)" [(ngModel)]="department">
            <option value="0">All Departments</option>
            <option *ngFor="let dept of data.departmentInfo;let d = index;" [ngValue]="dept">{{dept.department}}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- end of filter     -->

      <div class="container table-accordion" id="accordion">
        <fieldset class="the-fieldset panel card" *ngFor="let dept of departmentInfo;let d=index;">
          <div class="card-header" >
              <div data-parent="#accordion" [attr.data-target]="'#demo' + dept.departmentId" data-toggle="collapse">{{d+1}}. {{dept.department}}</div>
          </div>

          <div [attr.id]="'demo' + dept.departmentId" class="collapse" [ngClass]="d?'':'in'">
              <div class="d-flex flex-row-reverse innerbuttons">
                <div>
                    <button class="btn-sp btn-sp-small btn-primary" (click)="dept.actionStepView = false;" *ngIf="dept.actionStepView; else quarterView">QUARTERS</button>
                </div>
                <div>
                    <ng-template #quarterView>
                        <button class="btn-sp btn-sp-small btn-primary" (click)="getActionSteps(dept)" *ngIf="!dept.actionStepView" >ACTION STEPS</button>
                        <button class="btn btn-sp-small btn-primary" (click)="getAnnualTargetsByOpiDepartment(dept)" *ngIf="!dept.show; else currentBtn" >ALL QUARTERS</button>
                      </ng-template>
                </div>
                <div>
                    <ng-template #currentBtn>
                        <button class="btn-sp btn-sp-small btn-primary" (click)="getCurrentAnnualTargets(dept)">CURRENT QUARTERS</button>
                      </ng-template>
                </div>
                  

                 
              </div>
            <div *ngIf="!dept.actionStepView">
              <without-evidence-form [department]="dept" *ngIf="!data.evidanceFormId" (changeSelected)="passQuarter($event)"> </without-evidence-form>
              <student-internship [department]="dept" [d]="d"  *ngIf="data.evidanceFormId==1" (changeSelected)="passQuarter($event)"></student-internship>
              <mous-form [department]="dept" [d]="d" *ngIf="data.evidanceFormId==2" (changeSelected)="passQuarter($event)"></mous-form>
              <community-learning [department]="dept" [d]="d" *ngIf="data.evidanceFormId==5" (changeSelected)="passQuarter($event)"></community-learning>
              <curriculum-review [department]="dept" [d]="d" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==6"></curriculum-review>
              <exchange-program [department]="dept" [d]="d" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==4"></exchange-program>
              <extra-curricular-activity [department]="dept" [d]="d" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==3"> </extra-curricular-activity>
              <research-consultancy [department]="dept" [d]="d" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==7"></research-consultancy>
              <student-research [department]="dept" [d]="d" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==8"></student-research>
            </div>
            <div *ngIf="dept.actionStepView">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <span *ngIf="dept.isEdit&&dept.isNew">Edit</span>
                    <span *ngIf="!dept.isEdit&&dept.isNew">Add</span>
                    Action Step
                    <button class="pull-right" (click)="addNewActionStep(dept)" *ngIf="!dept.isNew">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="pull-right" (click)="dept.isNew=!dept.isNew" *ngIf="dept.isNew">
                      <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                  </div>
                </div>
                <div class="panel-body" style="position:relative;">
                  <table class="table table-bordered text-center" *ngIf="!dept.isNew">
                    <thead>
                      <tr>
                        <th>*</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Deadline</th>
                        <th class="text-center">Root Cause</th>
                        <th class="text-center">Resources</th>
                        <th class="text-center">Assigned Employees</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let step of actionSteps;let s = index;">
                        <th>{{s+1}}</th>
                        <td>{{step.description}}</td>
                        <td>{{step.deadline}}</td>
                        <td>{{step.reason}}</td>
                        <td>{{step.resources}}</td>
                        <td>
                          <ul style="list-style:none;padding:0px;margin:0px;">
                            <li *ngFor="let emp of step.employeeAssigned;let i = index;">
                              {{emp.firstName + emp.lastName}}
                              <i *ngIf="i!=step.employeeAssigned.length-1">,</i>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <button class="myButton btn-link" (click)="showList(step)">Assign</button>
                            </li>
                          </ul>
                        </td>
                        <td>
                          <button class="btn-link" (click)="editActionStep(dept,step)">edit</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="!actionSteps.length">
                      <tr>
                        <th class="text-center" colspan="7">No Action Steps added yet</th>
                      </tr>
                    </tfoot>
                  </table>
                  <form class="form-horizontal" [formGroup]="actionForm" *ngIf="dept.isNew">
                    <div class="form-group">
                      <label class="control-label col-sm-2">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="description"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Reason</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="reason"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Resources</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="resources"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Deadline</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="date" formControlName="deadline">
                      </div>
                    </div>
                  </form>
                  <div class="emp-list">
                    <div style="position: absolute;left: -30px;">
                      <button type="button" (click)="hideList()">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <br>
                      <button type="button" [disabled]="!employeeIds" (click)="assignEmployee()">
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                    </div>
                    <select multiple id="toggle-list" [(ngModel)]="employeeIds">
                      <option *ngFor="let emp of employees;let i = index;" [ngValue]="emp" [selected]="emp.assigned" [disabled]="emp.assigned">{{emp.firstName + emp.lastName}}</option>
                    </select>
                  </div>
                </div>
                <div class="panel-footer" *ngIf="dept.isNew">
                  <div class="form-group">
                    <div class="col-sm-offset-2">
                      <button type="button" class="btn btn-success" (click)="onSubmit(dept,actionSteps)" [disabled]="actionForm.invalid">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>

<!-- Evidence Form-->
<div class="modal fade" id="evidenceForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content" *ngIf="data">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Attach Evidence</h4>
      </div>
      <form [formGroup]="evidencForm" (submit)="onEvidenceSubmit(data.evidanceFormId)">
        <div class="modal-body">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" />
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" formControlName="description"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputFile">Attachment</label>
            <input type="file" class="form-control-file" id="exampleInputFile" formControlName="files" (change)="getFile($event)" aria-describedby="fileHelp">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-default">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>