<div class="container-fluid">
  <div class="panel" *ngIf="data" style="margin-top:50px;" id="first-section">
    <div class="panel-heading">
      <h4 class="panel-title ">
        <a data-toggle="collapse" href="#edit-section">KPI DETAILS</a>
      </h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-lg-2">
          <h5>
            <strong>STRATEGIC GOAL</strong>
          </h5>
        </div>
        <div class="col-lg-10">
          <h5>{{data.goal}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <h5>
            <strong>INITIATIVE</strong>
          </h5>
        </div>
        <div class="col-lg-10">
          <h5>{{data.initiative}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <h5>
            <strong>ACTIVITY</strong>
          </h5>
        </div>
        <div class="col-lg-10">
          <h5>{{data.activity}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2">
          <h5>
            <strong>OPI</strong>
          </h5>
        </div>
        <div class="col-lg-10">
          <h5> {{data.opi}}</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-3" *ngFor="let report of data.quartersAnnualReport;let rp=index;">
          <div class="panel" style="border: 1px solid #0000001c;">
            <div class="panel-body quarter-block">
              <b class="quarter">{{report.quarter}}</b>
              <span class="status">Over all Status</span>
              <div class="row">
                <div class="col-sm-6">
                  <strong>Estimated Cost </strong>: {{report.estimatedCost}}
                </div>
                <div class="col-sm-6">
                  <strong>Estimated Target </strong>: {{report.estimatedTargetLevel}}
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <strong>Current Cost </strong>:
                  <span>{{report.currentCost}}</span>
                </div>
                <div class="col-sm-6">
                  <strong>Achievement</strong>:
                  <span>{{report.currentTargetLevel}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mini">
        <div class="col-lg-4">
          <h5>
            <strong>FREQUENCY</strong>
          </h5>
          <h5>{{data.frequency}}</h5>
        </div>
        <div class="col-lg-4">
          <h5>
            <strong>MEASURE UNIT</strong>
          </h5>
          <h5>{{data.measureUnit}}</h5>
        </div>
        <div class="col-lg-4">
          <h5>
            <strong>EVIDENCE FORM TYPE</strong>
          </h5>
          <h5> {{data.evidanceForm}}
            <p *ngIf="!data.evidanceForm">None</p>
          </h5>
        </div>
      </div>

      <br>
      <div class="form-group">
        <label class="col-sm-6 col-md-6 col-lg-3">Corresponding Departments : </label>
        <div class="col-sm-6 col-md-6 col-lg-9">
          <select class="form-control" (ngModelChange)="viewDepartment($event)" [(ngModel)]="department">
            <option value="0">All Departments</option>
            <option *ngFor="let dept of data.departmentInfo;let d = index;" [ngValue]="dept">{{dept.department}}</option>
          </select>
        </div>
      </div>
      <br>
      <div id="accordion">
        <fieldset class="the-fieldset panel" *ngFor="let dept of departmentInfo;let d=index;">
          <legend class="the-legend" data-parent="#accordion" [attr.data-target]="'#demo' + dept.departmentId" data-toggle="collapse">{{d+1}}. {{dept.department}}</legend>

          <div [attr.id]="'demo' + dept.departmentId" class="collapse" [ngClass]="d?'':'in'" style="position: relative;">
            <div style="position: absolute;top: -45px;right: 10px;">
              <a class="btn btn-save" (click)="dept.actionStepView = false;" *ngIf="dept.actionStepView; else quarterView">Quarters</a>
              <ng-template #quarterView>
                <a class="btn btn-save" (click)="getActionSteps(dept)" *ngIf="!dept.actionStepView">Action Steps</a>
                <a class="btn btn-save" (click)="getAnnualTargetsByOpiDepartment(dept)" *ngIf="!dept.show; else currentBtn">All Quarters</a>
              </ng-template>
              <ng-template #currentBtn>
                <a class="btn btn-save" (click)="getCurrentAnnualTargets(dept)">Current Quarter</a>
              </ng-template>
            </div>
            <div *ngIf="!dept.actionStepView">
              <without-evidence-form [department]="dept" [evidanceFormId]="data.evidanceFormId" *ngIf="!data.evidanceFormId" (changeSelected)="passQuarter($event)"> </without-evidence-form>
              <student-internship [department]="dept" [d]="d"  [evidanceFormId]="data.evidanceFormId" *ngIf="data.evidanceFormId==1||data.evidanceFormId==9||data.evidanceFormId==10||data.evidanceFormId==11" (changeSelected)="passQuarter($event)"></student-internship>
              <mous-form [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" *ngIf="data.evidanceFormId==2" (changeSelected)="passQuarter($event)"></mous-form>
              <community-learning [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" *ngIf="data.evidanceFormId==5" (changeSelected)="passQuarter($event)"></community-learning>
              <curriculum-review [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==6"></curriculum-review>
              <exchange-program [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==4"></exchange-program>
              <extra-curricular-activity [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==3"> </extra-curricular-activity>
              <research-consultancy [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==7"></research-consultancy>
              <student-research [department]="dept" [d]="d" [evidanceFormId]="data.evidanceFormId" (changeSelected)="passQuarter($event)" *ngIf="data.evidanceFormId==8"></student-research>
            </div>
            <div class="row" *ngIf="dept.actionStepView" style="padding:15px;">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="panel-title">
                    <span *ngIf="dept.isEdit&&dept.isNew">Edit</span>
                    <span *ngIf="!dept.isEdit&&dept.isNew">Add</span>
                    Action Step
                    <button class="pull-right" (click)="addNewActionStep(dept)" *ngIf="!dept.isNew">
                      <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="pull-right" (click)="dept.isNew=!dept.isNew" *ngIf="dept.isNew">
                      <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                  </div>
                </div>
                <div class="panel-body" style="position:relative;">
                  <table class="table table-bordered text-center" *ngIf="!dept.isNew">
                    <thead>
                      <tr>
                        <th>*</th>
                        <th class="text-center">Action</th>
                        <th class="text-center">Deadline</th>
                        <th class="text-center">Root Cause</th>
                        <th class="text-center">Resources</th>
                        <th class="text-center">Assigned Employees</th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let step of actionSteps;let s = index;">
                        <th>{{s+1}}</th>
                        <td>{{step.description}}</td>
                        <td>{{step.deadline}}</td>
                        <td>{{step.reason}}</td>
                        <td>{{step.resources}}</td>
                        <td>
                          <ul style="list-style:none;padding:0px;margin:0px;">
                            <li *ngFor="let emp of step.employeeAssigned;let i = index;">
                              {{emp.firstName + emp.lastName}}
                              <i *ngIf="i!=step.employeeAssigned.length-1">,</i>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <button class="myButton btn-link" (click)="showList(step)">Assign</button>
                            </li>
                          </ul>
                        </td>
                        <td>
                          <button class="btn-link" (click)="editActionStep(dept,step)">edit</button>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot *ngIf="!actionSteps.length">
                      <tr>
                        <th class="text-center" colspan="7">No Action Steps added yet</th>
                      </tr>
                    </tfoot>
                  </table>
                  <form class="form-horizontal" [formGroup]="actionForm" *ngIf="dept.isNew">
                    <div class="form-group">
                      <label class="control-label col-sm-2">Description</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="description"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Reason</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="reason"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Resources</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" formControlName="resources"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-2">Deadline</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="date" formControlName="deadline">
                      </div>
                    </div>
                  </form>
                  <div class="emp-list">
                    <div style="position: absolute;left: -30px;">
                      <button type="button" (click)="hideList()">
                        <span class="glyphicon glyphicon-remove"></span>
                      </button>
                      <br>
                      <button type="button" [disabled]="!employeeIds" (click)="assignEmployee()">
                        <span class="glyphicon glyphicon-ok"></span>
                      </button>
                    </div>
                    <select multiple id="toggle-list" [(ngModel)]="employeeIds">
                      <option *ngFor="let emp of employees;let i = index;" [ngValue]="emp" [selected]="emp.assigned" [disabled]="emp.assigned">{{emp.firstName + emp.lastName}}</option>
                    </select>
                  </div>
                </div>
                <div class="panel-footer" *ngIf="dept.isNew">
                  <div class="form-group">
                    <div class="col-sm-offset-2">
                      <button type="button" class="btn btn-success" (click)="onSubmit(dept,actionSteps)" [disabled]="actionForm.invalid">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>