
 <table id="accordion" class="table  table-bordered table-edit">
   <thead>
     <tr>
       <th>Year</th>
       <th>Estimated Cost</th>
       <th>Quarter</th>
       <th>Estimated Target Level</th>
       <th>End Date</th>
       <th>More</th>
     </tr>
   </thead>
   <tbody *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
     <tr>
       <td [attr.rowspan]="tdl.levels.length + 5" style="vertical-align: middle;">{{tdl.year}}</td>
       <td [attr.rowspan]="tdl.levels.length + 5" style="vertical-align: middle;">{{tdl.estimatedCost}}</td>
     </tr>
     <ng-template let-lev ngFor [ngForOf]="tdl.levels" let-in="index">
       <tr>
         <td>{{lev.quarter}}</td>
         <td>{{lev.estimatedTargetLevel}}</td>
         <td>{{lev.endDate + tdl.year}}</td>
         <td>
           <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#row-collapse'+d+'d'+at+'q'+in" (click)="collapseOff('#row-collapse'+d+'d'+at+'q'+in,lev)"
             style="cursor:pointer;">
             <i class="fas fa-eye"></i>
            </button>
         </td>
       </tr>
       <ng-container>
         <tr [attr.id]="'row-collapse'+d+'d'+at+'q'+in" class="collapse collapse-off">
           <td colspan="6">
            <table class="table table-bordered"  *ngIf="lev.evidanceFormId==1">
              <caption align="top" *ngIf="lev.internshipDetails.length">
                <div class="d-flex justify-content-end align-items-center">
                    <div>
                      Current Cost
                    </div>
                    <div class="mx-2">
                        <input class="form-control mx-2" [(ngModel)]="lev.currentCost" [disabled]="!lev.edit" autofocus>
                    </div>
                    <div class="mx-2">
                        <div class="float-left" *ngIf="!lev.edit;else savebtn" [hidden]="lev.disable">
                            <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit=true;lev.currentCostCopy=lev.currentCost;">
                                Edit
                            </button>
                          </div>
                          <ng-template #savebtn>
                            <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="updateCurrentCost(lev);">
                               Save
                            </button>
                            <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit = false;lev.currentCost=lev.currentCostCopy;">
                                Cancel
                            </button>
                          </ng-template>
                          <button type="button" class="btn-sp btn-primary btn-sp-small" (click)="lockQuarterResult(lev)" *ngIf="lev.internshipDetails.length"
                          [disabled]="lev.status=='locked'" [disabled]="lev.disable">Lock</button>
                    </div>
                  </div>
              </caption>
              <thead>
                <tr>
                  <th>Internship Detail</th>
                  <th *ngIf="lev.internshipDetails.length">Evidence
                      <button class="float-right btn btn-primary" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId" (click)="selectedForm = lev.internshipDetails[0];selectedQuarter=lev;" [disabled]="lev.disable">Add</button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let file of lev.internshipDetails;let f=index;">
                <tr>
                  <td>
                    <a [attr.href]="file.internshipFileUrl" class="text-primary link primary-link"><i class="fas fa-file"></i>  File 1</a>
                    <button type="button" class="close" (click)="deleteInternshipFile(lev.internshipDetails,file,f)" *ngIf="lev.status!='locked'"
                      [disabled]="lev.disable">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </td>
                  <td>
                    <ul style="list-style: none;padding: 0;">
                      <li *ngFor="let ev of file.evidance;let e=index;" class="d-flex justify-content-between">
                        <a [attr.href]="ev.url" class="text-primary link primary-link"><i class="fas fa-hand-paper"></i> Evidence {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteInternshipEvidence(file.evidance,ev,e)" [disabled]="lev.disable" *ngIf="lev.status!='locked'" style="clear:both;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li *ngIf="!file.evidance.length;" class="message-danger animate slideInUp">No Evidence Added</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="!lev.internshipDetails.length">
                <tr>
                  <td colspan="2">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                          Current Cost
                          <input class="form-control" type="number" [(ngModel)]="lev.currentCost" [disabled]="lev.disable">
                      </div>
                      <div class="mx-2">
                          Student Internship File 
                          <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          aria-describedby="fileHelp" (change)="getFile(lev,$event)" [disabled]="lev.disable">
                        <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
                      </div>
                      <div>
                          <button class="btn-sp btn-primary btn-sp-small" (click)="saveForm(lev)" [disabled]="lev.disable" [disabled]="!(lev.currentCost&&lev.file)">Save</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <table class="table table-bordered" *ngIf="lev.evidanceFormId==9">
              <caption align="top" *ngIf="lev.professionalDevelopmentActivities.length">
                <div class="d-flex justify-content-end align-items-center">
                  <div>
                      Current Cost
                  </div>
                  <div class="mx-2">
                      <input class="form-control" [(ngModel)]="lev.currentCost" [disabled]="!lev.edit" autofocus>
                  </div>
                  <div>
                      <div class="float-left" *ngIf="!lev.edit;else savebtn" [hidden]="lev.disable">
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit=true;lev.currentCostCopy=lev.currentCost;">
                              Edit
                          </button>
                        </div>
                  
                        <ng-template #savebtn>
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="updateCurrentCost(lev);">
                            Save
                          </button>
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit = false;lev.currentCost=lev.currentCostCopy;">
                            Cancel
                          </button>
                        </ng-template>
                  
                        <div class="float-right">
                          <button type="button" class="btn-sp btn-primary btn-sp-small" (click)="lockQuarterResult(lev)" *ngIf="lev.professionalDevelopmentActivities.length"
                            [disabled]="lev.status=='locked'" [disabled]="lev.disable">Lock</button>
                        </div>
                  </div>
                </div>
              </caption>
              <thead>
                <tr>
                  <th>Professional Development Activity</th>
                  <th *ngIf="lev.professionalDevelopmentActivities.length">Evidence
                 
                    <button class="btn-sp btn-sp-small btn-clear float-right" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId"
                      (click)="selectedForm = lev.professionalDevelopmentActivities[0];selectedQuarter=lev;" [disabled]="lev.disable">Add</button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let file of lev.professionalDevelopmentActivities;let f=index;">
                <tr>
                  <td>
                    <a [attr.href]="file.internshipFileUrl">File 1</a>
                    <button type="button" class="close" (click)="deleteFile(lev.professionalDevelopmentActivities,file,f)" *ngIf="lev.status!='locked'"
                      [disabled]="lev.disable">
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                  <td>
                    <ul style="list-style: none;padding: 0;">
                      <li *ngFor="let ev of file.evidance;let e=index;">
                        <a [attr.href]="ev.url">Evidence {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(file.evidance,ev,e)" [disabled]="lev.disable" *ngIf="lev.status!='locked'"
                          style="clear:both;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li *ngIf="!file.evidance.length;" class="message-danger animate slideInUp">No Evidence Added</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="!lev.professionalDevelopmentActivities.length">
                <tr>
                  <td colspan="2">
                    <div class="d-flex justify-content-end">
                      <div>
                          Current Cost 
                          <input class="form-control" type="number" [(ngModel)]="lev.currentCost" [disabled]="lev.disable">
                      </div>
                      <div>
                          File
                          <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          aria-describedby="fileHelp" (change)="getFile(lev,$event)" [disabled]="lev.disable">
                        <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
                      </div>
                      <div>
                          <button type="button" (click)="saveForm(lev)" [disabled]="lev.disable" [disabled]="!(lev.currentCost&&lev.file)">Save</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <table class="table table-bordered" *ngIf="lev.evidanceFormId==10">
              <caption align="top" *ngIf="lev.facultyPublications.length">
                  <div class="d-flex justify-content-end align-items-center">
                    <div>
                        Current Cost
                    </div>
                    <div class="mx-2">
                        <input class="form-control" [(ngModel)]="lev.currentCost" [disabled]="!lev.edit" autofocus>
                      </div>
                      <div>
                          <div class="float-left" *ngIf="!lev.edit;else savebtn" [hidden]="lev.disable">
                              <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit=true;lev.currentCostCopy=lev.currentCost;">
                                  Edit
                              </button>
                            </div>
          
                            <ng-template #savebtn>
                              <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="updateCurrentCost(lev);">
                                Save
                              </button>
                              <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit = false;lev.currentCost=lev.currentCostCopy;">
                               Cancel
                              </button>
                            </ng-template>
                      
                            <div class="float-right">
                              <button type="button" class="btn-sp btn-primary btn-sp-small" (click)="lockQuarterResult(lev)" *ngIf="lev.facultyPublications.length"
                                [disabled]="lev.status=='locked'" [disabled]="lev.disable">Lock</button>
                            </div>
                        </div>
                </div>
              </caption>
              <thead>
                <tr>
                  <th>Professional Development Activity</th>
                  <th *ngIf="lev.facultyPublications.length">Evidence
                    <button class="btn-sp btn-sp-small btn-clear float-right" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId"
                      (click)="selectedForm = lev.facultyPublications[0];selectedQuarter=lev;" [disabled]="lev.disable">Add</button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let file of lev.facultyPublications;let f=index;">
                <tr>
                  <td>
                    <a [attr.href]="file.internshipFileUrl">File 1</a>
                    <button type="button" class="close" (click)="deleteFile(lev.facultyPublications,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable">
                        <i class="fas fa-trash"></i>
                    </button>
                  </td>
                  <td>
                    <ul style="list-style: none;padding: 0;">
                      <li *ngFor="let ev of file.evidance;let e=index;">
                        <a [attr.href]="ev.url">Evidence {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(file.evidance,ev,e)" [disabled]="lev.disable" *ngIf="lev.status!='locked'"
                          style="clear:both;">
                          <i class="fas fa-trash"></i>
                        </button>
                      </li>
                      <li *ngIf="!file.evidance.length;" class="message-danger animate slideInUp">No Evidence Added</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="!lev.facultyPublications.length">
                <tr>
                  <td colspan="2">
                    <div class="d-flex justify-content-end">
                      <div>
                          Current Cost
                          <input class="form-control" type="number" [(ngModel)]="lev.currentCost" [disabled]="lev.disable">
                      </div>
                      <div>
                        File
                        <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                        aria-describedby="fileHelp" (change)="getFile(lev,$event)" [disabled]="lev.disable">
                      <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
                      </div>
                      <div>
                          <button type="button" (click)="saveForm(lev)" [disabled]="lev.disable" [disabled]="!(lev.currentCost&&lev.file)">Save</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
            <table class="table table-bordered" *ngIf="lev.evidanceFormId==11">
              <caption align="top" *ngIf="lev.studentPublications.length">
                <div class="d-block justify-content-end align-items-center">
                  <div>
                      Current Cost
                  </div>
                  <div class="mx-2">
                      <input class="form-control" [(ngModel)]="lev.currentCost" [disabled]="!lev.edit" autofocus>
                  </div>
                  <div>
                      <div class="float-left" *ngIf="!lev.edit;else savebtn" [hidden]="lev.disable">
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit=true;lev.currentCostCopy=lev.currentCost;">
                              EDIT
                          </button>
                        </div>
                  
                        <ng-template #savebtn>
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="updateCurrentCost(lev);">
                            Save
                          </button>
                          <button type="button" class="btn-sp btn-primary btn-sp-small mr-1" (click)="lev.edit = false;lev.currentCost=lev.currentCostCopy;">
                            Cancel
                          </button>
                        </ng-template>
                  
                        <div class="float-right">
                          <button type="button" class="btn-sp btn-primary btn-sp-small" (click)="lockQuarterResult(lev)" *ngIf="lev.studentPublications.length"
                            [disabled]="lev.status=='locked'" [disabled]="lev.disable">Lock</button>
                        </div>
                  </div>
                </div>
              </caption>
              <thead>
                <tr>
                  <th>Professional Development Activity</th>
                  <th *ngIf="lev.studentPublications.length">Evidence
                    <button class="btn-sp btn-sp-small btn-clear float-right" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId"
                      (click)="selectedForm = lev.studentPublications[0];selectedQuarter=lev;" [disabled]="lev.disable">Add</button>
                  </th>
                </tr>
              </thead>
              <tbody *ngFor="let file of lev.studentPublications;let f=index;">
                <tr>
                  <td>
                    <a [attr.href]="file.internshipFileUrl">File 1</a>
                    <button type="button" class="close" (click)="deleteFile(lev.studentPublications,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable">
                        <i class="fas fa-trash"></i>
                    </button>
                  </td>
                  <td>
                    <ul style="list-style: none;padding: 0;">
                      <li *ngFor="let ev of file.evidance;let e=index;">
                        <a [attr.href]="ev.url">Evidence {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(file.evidance,ev,e)" [disabled]="lev.disable" *ngIf="lev.status!='locked'"
                          style="clear:both;">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li *ngIf="!file.evidance.length;" class="message-danger animate slideInUp">No Evidence Added</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
              <tfoot *ngIf="!lev.studentPublications.length">
                <tr>
                  <td colspan="2">
                    <div class="d-flex justify-content-between">
                      <div>
                          Current Cost  <input class="form-control" type="number" [(ngModel)]="lev.currentCost" [disabled]="lev.disable">
                      </div>
                      <div>
                          File
                          <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                          aria-describedby="fileHelp" (change)="getFile(lev,$event)" [disabled]="lev.disable">
                        <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
                      </div>
                      <div>
                          <button type="button" (click)="saveForm(lev)" [disabled]="lev.disable" [disabled]="!(lev.currentCost&&lev.file)">Save</button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
           </td>
         </tr>
       </ng-container>
     </ng-template>
   </tbody>
 </table>


<evidence-form [evidanceFormId]="formId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>