<!-- Quarter Boxes -->
<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;"
        [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color"
          [class.text-black]="lev.successInfo.color == '#FFEB3B'">
          <div>
            <!-- <small>Quarter</small> -->
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <!-- <small>Status (role) </small> -->
            <div class="text-capitalize">

              {{lev.status}}
              <br>by {{lev.role}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Achievement</small>
            <div>{{lev.currentTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-2 mx-2">
          <div *ngIf="lev.evidanceFormId==1&&lev.internshipRecord.length">
            <div>
              <a data-toggle="modal" [attr.href]="'#internshipModal'+department.departmentId" (click)="selectedQuarter=lev;listView=true;">
                <small>Internship Records
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div> {{lev.internshipRecord.length}}</div>
            </div>
          </div>
          <div *ngIf="lev.evidanceFormId==9&&lev.professionalDevelopmentActivityRecord.length">
            <div>
              <a data-toggle="modal" [attr.href]="'#professionalDevelopmentActivitiesModal'+department.departmentId" (click)="selectedQuarter=lev;listView=true;">
                <small>Professional Development Activities Records
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div> {{lev.professionalDevelopmentActivityRecord.length}}</div>
            </div>
          </div>
          <div *ngIf="lev.evidanceFormId==10&&lev.facultyPublicationRecord.length">
            <div>
              <a data-toggle="modal" [attr.href]="'#facultyPublicationModal'+department.departmentId" (click)="selectedQuarter=lev;listView=true;">
                <small>Faculty Publication Records
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div> {{lev.facultyPublicationRecord.length}}</div>
            </div>
          </div>
          <div *ngIf="lev.evidanceFormId==11&&lev.studentPublicationRecord.length">
            <div>
              <a data-toggle="modal" [attr.href]="'#studentPublicationModal'+department.departmentId" (click)="selectedQuarter=lev;listView=true;">
                <small>Student Publication Records
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div> {{lev.studentPublicationRecord.length}}</div>
            </div>
          </div>
          <div class="text-right" *ngIf="lev.status!='unsubmitted'|| lev.disable">
            <small>Current Cost </small>
            <!-- <div>
                <input type="number" class="w-50" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
            </div> -->
            <div>{{lev.currentCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2" *ngIf="lev.status!='unsubmitted'">
          <div *ngIf="lev.status!='unsubmitted'" class="dropdown">
            <div class="text-right">
              <small>Evidence </small>
              <div>{{lev.evidance.length}}</div>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let ev of lev.evidance;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#evidenceFileModal" (click)="storeEvidence(ev)" style="float:left">Evidence {{e+1}}</a>
                <button type="button" class="close" (click)="deleteEvidence(lev.evidance,ev,e)" [hidden]="lev.status=='locked'" style="margin-top: -6px;">&times;</button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.evidance.length">None</li>
              <li role="presentation" class="dropdown-divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button *ngIf="lev.status=='inprogress'||lev.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId + 'd'+department.departmentId"
                (click)="selectedQuarter = lev;" [disabled]="lev.disable">Upload</button>
              </li>
            </ul>
          </div>
          <div class="text-right" class="dropdown" *ngIf="lev.internshipDetails&&lev.internshipDetails.length">
            <div class="text-right">
              <small>Internship Files </small>
              <div>{{lev.internshipDetails.length}}</div>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let file of lev.internshipDetails;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="file.url" style="float:left">File {{e+1}}</a>
                <button type="button" class="close" (click)="deleteFile(lev.internshipDetails,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable"
                  style="margin-top: -6px;">&times;</button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.internshipDetails.length">None</li>
              <li role="presentation" class="dropdown-divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button type="button" class="btn-link" data-toggle="modal" data-target="#fileUploadModal" *ngIf="!lev.disable" (click)="selectedQuarter = lev;">Upload</button>
              </li>
            </ul>
          </div>
          <div class="text-right" class="dropdown" *ngIf="lev.facultyPublications&&lev.facultyPublications.length">
            <div class="text-right">
              <small>Faculty Publications Files</small>
              <div>{{lev.facultyPublications.length}}</div>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let file of lev.facultyPublications;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="file.url" style="float:left">File {{e+1}}</a>
                <button type="button" class="close" (click)="deleteFile(lev.facultyPublications,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable"
                  style="margin-top: -6px;">&times;</button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.facultyPublications.length">None</li>
              <li role="presentation" class="dropdown-divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button type="button" class="btn-link" data-toggle="modal" data-target="#fileUploadModal" *ngIf="!lev.disable" (click)="selectedQuarter = lev;">Upload</button>
              </li>
            </ul>
          </div>
          <div class="text-right" class="dropdown" *ngIf="lev.studentPublications&&lev.studentPublications.length">
            <div class="text-right">
              <small>Student Publication Files</small>
              <div> {{lev.studentPublications.length}}</div>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let file of lev.studentPublications;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="file.url" style="float:left">File {{e+1}}</a>
                <button type="button" class="close" (click)="deleteFile(lev.studentPublications,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable"
                  style="margin-top: -6px;">&times;</button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.studentPublications.length">None</li>
              <li role="presentation" class="dropdown-divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button type="button" class="btn-link" data-toggle="modal" data-target="#fileUploadModal" *ngIf="!lev.disable" (click)="selectedQuarter = lev;">Upload</button>
              </li>
            </ul>
          </div>
          <div class="text-right" class="dropdown" *ngIf="lev.professionalDevelopmentActivities&&lev.professionalDevelopmentActivities.length">
            <div class="text-right">
              <small>Professional Development Activity Files </small>
              <div>{{lev.professionalDevelopmentActivities.length}}</div>
            </div>
            <br>
            <a class="text-primary dropdown-toggle float-right pr-0" id="menu1" data-toggle="dropdown">File
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
              <li role="presentation" *ngFor="let file of lev.professionalDevelopmentActivities;let e = index;" class="d-flex justify-content-between px-2">
                <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="file.url" style="float:left">File {{e+1}}</a>
                <button type="button" class="close" (click)="deleteFile(lev.professionalDevelopmentActivities,file,f)" *ngIf="lev.status!='locked'" [disabled]="lev.disable"
                  style="margin-top: -6px;">&times;</button>
              </li>
              <li class="text-center" role="presentation" *ngIf="!lev.professionalDevelopmentActivities.length">None</li>
              <li role="presentation" class="dropdown-divider" style="clear: both;"></li>
              <li class="text-center" role="presentation">
                <button type="button" class="btn-link" data-toggle="modal" data-target="#fileUploadModal" *ngIf="!lev.disable" (click)="selectedQuarter = lev;">Upload</button>
              </li>
            </ul>
          </div>
        </div>
        <div class=" mt-2 mx-2" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
          <small class="text-primary">Current cost</small>
          <br>
          <input type="number" style="width: 100%;" [(ngModel)]="lev.currentCost" *ngIf="lev.status=='unsubmitted'&&!lev.disable">
        </div>
        <div *ngIf="lev.status=='unsubmitted'&&!lev.disable&&!lev.isUpdating" class="m-1">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              aria-describedby="fileHelp" (change)="lev.file = $event.target.files[0];" [disabled]="lev.disable">
            <small class="custom-file-label border-0 pl-1" for="exampleInputFile">
              {{lev.evidanceForm}} File
            </small>
            <div class="invalid-feedback">Accept only .xls, .csv or excel sheets</div>
          </div>
          <small id="fileHelp" class="form-text text-muted text-center">
            Accept only .xls, .csv or excel sheets</small>
        </div>

        <div class="d-flex justify-content-end mt-3" *ngIf="!lev.disable">
          <button class="btn-link link primary-link text-primary" (click)="saveForm(lev)" [disabled]="lev.disable" [disabled]="!(lev.currentCost&&lev.file)"
            *ngIf="lev.status=='unsubmitted'&&!lev.isUpdating">Save</button>

          <button class="btn-link link primary-link text-primary" *ngIf="lev.status=='unsubmitted'&&lev.isUpdating" (click)="updateCurrentCost(lev);"
            [disabled]="lev.disable"> Save</button>

          <button class="btn-link link primary-link text-primary ml-1" *ngIf="lev.status=='inprogress'||lev.status=='rejected'" (click)="lev.status='unsubmitted';lev.isUpdating=true;"
            [disabled]="lev.disable">Edit</button>

          <button class="btn-link link primary-link text-primary ml-1" *ngIf="lev.isUpdating" (click)="lev.status='inprogress';lev.isUpdating=false;">
            Cancel</button>
          <button class="btn-link link primary-link text-primary ml-1" *ngIf="!lev.isUpdating&&!lev.disable&&lev.status != 'locked'" (click)="lockQuarterResult(lev)" [disabled]="lev.disable||!lev.evidance.length">Lock</button>
        </div>
        <div class="d-flex justify-content-end mt-3" *ngIf="(!lev.disable)&&(role!='coordinator')">
          
          <button class="btn-link link primary-link text-primary ml-1" data-toggle="modal" data-target="#feedbackModal" (click)="selectLevel(lev)" [disabled]="lev.status!='locked'">
          Approve/Reject</button>
        </div>
      </div>
    </div>
  </div>


  
</div>
<!-- end of quarter boxes -->

<evidence-form [evidanceFormId]="formId + 'd'+department.departmentId" [selectedForm]="selectedForm" [selectedQuarter]="selectedQuarter" *ngIf="selectedQuarter"></evidence-form>

<div class="modal fade" [attr.id]="'internshipModal'+department.departmentId" *ngIf="selectedQuarter.internshipRecord">
  <div class="modal-dialog modal-lg" style="max-width: 900px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Student Internship Records</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="recordForm" (submit)="updateInternshipRecord()" *ngIf="!listView">
        <div class="modal-body">
          <div class="modal-box row mx-3">
            <div class="col-lg-12 col-sm-12 border-bottom pl-0">
                <small><b>Student Details</b></small>
            </div>
            <div class="form-group col-lg-6">
                <label class="control-label">Name:</label>
                <input class="form-control" type="text" formControlName="studentName">
              </div>
              <div class="form-group col-lg-6">
                  <label class="control-label">Department:</label>
                  <input class="form-control" type="text" formControlName="department">
              </div>
              <div class="form-group col-lg-6">
                <label class="control-label">College:</label>
                <input class="form-control" type="text" formControlName="college">
              </div>
              <div class="form-group col-lg-6">
                  <label class="control-label">Internal Supervisor:</label>
                  <input class="form-control" type="text" formControlName="internalSupervisor">
                </div>
          </div>
          <div class="modal-box row mx-3">
              <div class="col-lg-12 col-sm-12 border-bottom pl-0">
                  <small><b>External Supervisor Details</b></small>
              </div>
              <div class="form-group col-lg-6">
                  <label class="control-label">Name:</label>
                  <input class="form-control" type="text" formControlName="externalSupervisor">
                </div>
                <div class="form-group col-lg-6">
                  <label class="control-label">Email:</label>
                  <input class="form-control" type="email" formControlName="externalSupervisorEmail">
                </div>
                <div class="form-group col-lg-6">
                  <label class="control-label">Contact No.:</label>
                  <input class="form-control" type="tel" formControlName="externalSupervisorMobile">
                </div>
            </div>
              <div class="modal-box row mx-3">
                  <div class="col-lg-12 col-sm-12 border-bottom pl-0">
                      <small><b>Organization Details</b></small>
                  </div>
                  <div class="form-group col-lg-6">
                      <label class="control-label">Internship Domain:</label>
                      <input class="form-control" type="text" formControlName="internshipDomain">
                    </div>
                    <div class="form-group col-lg-6">
                      <label class="control-label">Organization Name:</label>
                      <input class="form-control" type="text" formControlName="organization">
                    </div>
                    <div class="form-group col-lg-6">
                      <label class="control-label">Address:</label>
                      <input class="form-control" type="text" formControlName="organizationAddress">
                    </div>
                    <div class="form-group col-lg-6">
                      <label class="control-label">Address Type:</label>
                      <input class="form-control" type="text" formControlName="organizationAddressType">
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-primary" (click)="listView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn-sp btn-primary" [disabled]="recordForm.invalid">Submit</button>
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="listView">
        <div class="modal-body">
          <div class="table-responsive-sm">
            <table class="table table-bordered table-card">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Student</th>
                  <th>College</th>
                  <th>Department</th>
                  <th>Organisation</th>
                  <th>External Supervisor</th>
                  <th>Internal Supervisor</th>
                  <th>Internship Domain</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of selectedQuarter.internshipRecord;let r = index;">
                  <td>{{r+1}}</td>
                  <td>{{record.studentName}}</td>
                  <td>{{record.college}}</td>
                  <td>{{record.department}}</td>
                  <td>{{record.organization}}</td>
                  <td>{{record.externalSupervisor}}</td>
                  <td>{{record.internalSupervisor}}</td>
                  <td>{{record.internshipDomain}}</td>
                  <td>
                    <button class="btn btn-link" type="button" [disabled]="selectedQuarter.disable" (click)="editInternshipRecord(record);">
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
        <!-- No content -->
          <div no-content  *ngIf="!selectedQuarter.internshipRecord.length">
              No Record available
          </div>
        <!-- end of no content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      <form class="form-horizontal" [formGroup]="recordForm" (submit)="updateInternshipRecord()" *ngIf="!listView">
          <div class="modal-body row">
            <div class="form-group col-lg-6">
              <label class="control-label">Student:</label>
              <input class="form-control" type="text" formControlName="studentName">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">College:</label>
              <input class="form-control" type="text" formControlName="college">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Department:</label>
              <input class="form-control" type="text" formControlName="department">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">External Supervisor:</label>
              <input class="form-control" type="text" formControlName="externalSupervisor">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">External Supervisor Email:</label>
              <input class="form-control" type="email" formControlName="externalSupervisorEmail">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">External Supervisor Mobile:</label>
              <input class="form-control" type="tel" formControlName="externalSupervisorMobile">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Internal Supervisor:</label>
              <input class="form-control" type="text" formControlName="internalSupervisor">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Internship Domail:</label>
              <input class="form-control" type="text" formControlName="internshipDomain">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Organization:</label>
              <input class="form-control" type="text" formControlName="organization">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Organization Address:</label>
              <input class="form-control" type="text" formControlName="organizationAddress">
            </div>
            <div class="form-group col-lg-6">
              <label class="control-label">Organization Address Type:</label>
              <input class="form-control" type="text" formControlName="organizationAddressType">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="listView = true;">
              <span class="glyphicon glyphicon-arrow-left"></span> Back
            </button>
            <button type="submit" class="btn btn-default" [disabled]="recordForm.invalid">Submit</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
    </div>

  </div>
</div>

<div class="modal fade" [attr.id]="'studentPublicationModal'+department.departmentId" role="dialog" *ngIf="selectedQuarter.studentPublicationRecord">
  <div class="modal-dialog modal-lg" style="max-width: 900px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Student Publication Records</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="studentPublicationForm" (submit)="updateStudentPublicationRecord()" *ngIf="!listView">
        <div class="modal-body row">
          <div class="form-group col-lg-6">
            <label class="control-label">Student:</label>
            <input class="form-control" type="text" formControlName="studentName">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">publicationTitle:</label>
            <input class="form-control" type="text" formControlName="publicationTitle">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">publicationDate:</label>
            <input class="form-control" type="text" formControlName="publicationDate">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">journalTitle:</label>
            <input class="form-control" type="text" formControlName="journalTitle">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">journalType:</label>
            <select class="form-control" formControlName="journalTypeId">
              <option value="1">Local</option>
              <option value="2">Emirates</option>
              <option value="3">UAE</option>
              <option value="4">GCC</option>
              <option value="5">International</option>
            </select>
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">Degree Level:</label>
            <input class="form-control" type="text" formControlName="degreeLevel">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="listView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn btn-default" [disabled]="studentPublicationForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="listView">
        <div class="modal-body">
          <div class="table-responsive-sm">
            <table class="table table-bordered table-card">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Student</th>
                  <th>Publication Title</th>
                  <th>Publication Date</th>
                  <th>Journal Title</th>
                  <th>Journal Type</th>
                  <th>Degree Level</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of selectedQuarter.studentPublicationRecord;let r = index;">
                  <td>{{r+1}}</td>
                  <td>{{record.studentName}}</td>
                  <td>{{record.publicationTitle}}</td>
                  <td>{{record.publicationDate}}</td>
                  <td>{{record.journalTitle}}</td>
                  <td>{{record.journalType}}</td>
                  <td>{{record.degreeLevel}}</td>
                  <td>
                    <button class="btn btn-link" type="button" [disabled]="selectedQuarter.disable" (click)="editStudentPublicationRecord(record);">
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- No content -->
          <div no-content *ngIf="!selectedQuarter.studentPublicationRecord.length">
            No Record available
          </div>
          <!-- end of no content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" [attr.id]="'facultyPublicationModal'+department.departmentId" role="dialog" *ngIf="selectedQuarter.facultyPublicationRecord">
  <div class="modal-dialog modal-lg" style="max-width: 900px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Faculty Publication Records</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="facultyPublicationForm" (submit)="updateFacultyPublicationRecord()" *ngIf="!listView">
        <div class="modal-body row">
          <div class="form-group col-lg-6">
            <label class="control-label">Faculty:</label>
            <input class="form-control" type="text" formControlName="faculty">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">Faculty Rank:</label>
            <input class="form-control" type="text" formControlName="facultyRank">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">publicationTitle:</label>
            <input class="form-control" type="text" formControlName="publicationTitle">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">publicationDate:</label>
            <input class="form-control" type="text" formControlName="publicationDate">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">journalTitle:</label>
            <input class="form-control" type="text" formControlName="journalTitle">
          </div>
          <div class="form-group col-lg-6">
            <label class="control-label">journalType:</label>
            <select class="form-control" formControlName="journalTypeId">
              <option value="1">Local</option>
              <option value="2">Emirates</option>
              <option value="3">UAE</option>
              <option value="4">GCC</option>
              <option value="5">International</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="listView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn btn-default" [disabled]="facultyPublicationForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="listView">
        <div class="modal-body">
          <div class="table-responsive-sm">
            <table class="table table-bordered table-card">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Faculty</th>
                  <th>facultyRank</th>
                  <th>Publication Title</th>
                  <th>Publication Date</th>
                  <th>Journal Title</th>
                  <th>Journal Type</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of selectedQuarter.facultyPublicationRecord;let r = index;">
                  <td>{{r+1}}</td>
                  <td>{{record.faculty}}</td>
                  <td>{{record.facultyRank}}</td>
                  <td>{{record.publicationTitle}}</td>
                  <td>{{record.publicationDate}}</td>
                  <td>{{record.journalTitle}}</td>
                  <td>{{record.journalType}}</td>
                  <td>
                    <button class="btn btn-link" type="button" [disabled]="selectedQuarter.disable" (click)="editFacultyPublicationRecord(record);">
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- No content -->
          <div no-content *ngIf="!selectedQuarter.facultyPublicationRecord.length">
            No Record available
          </div>
          <!-- end of no content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal fade" [attr.id]="'professionalDevelopmentActivitiesModal'+department.departmentId" role="dialog" *ngIf="selectedQuarter.professionalDevelopmentActivityRecord">
  <div class="modal-dialog modal-lg" style="max-width: 900px;">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Professional Development Activities Records</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="professionalDevelopmentActivitiesForm" (submit)="updateProfessionalDevelopmentActivityRecord()"
        *ngIf="!listView">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Title:</label>
            <input class="form-control" type="text" formControlName="title">
          </div>
          <div class="form-group">
            <label class="control-label">Type:</label>
            <select class="form-control" formControlName="type">
              <option value="course">Course</option>
              <option value="workshop">Workshop</option>
              <option value="seminar">Seminar</option>
              <option value="conference">Conference</option>
            </select>
          </div>
          <div class="form-group">
            <label class="control-label">Faculty:</label>
            <input class="form-control" type="text" formControlName="faculty">
          </div>
          <div class="form-group">
            <label class="control-label">Scope:</label>
            <select class="form-control" formControlName="scopeId">
              <option value="1">Local</option>
              <option value="2">Emirates</option>
              <option value="3">UAE</option>
              <option value="4">GCC</option>
              <option value="5">International</option>
            </select>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input" formControlName="national">National
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="listView = true;">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
          </button>
          <button type="submit" class="btn btn-default" [disabled]="professionalDevelopmentActivitiesForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
      <div *ngIf="listView">
        <div class="modal-body">
          <div class="table-responsive-sm" >
            <table class="table table-bordered table-card">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Faculty</th>
                  <th>Title</th>
                  <th>Scope</th>
                  <th>National</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of selectedQuarter.professionalDevelopmentActivityRecord;let r = index;">
                  <td>{{r+1}}</td>
                  <td>{{record.faculty}}</td>
                  <td>{{record.title}}</td>
                  <td>{{record.scope}}</td>
                  <td>{{record.national}}</td>
                  <td>
                    <button class="btn btn-link" type="button" [disabled]="selectedQuarter.disable" (click)="editProfessionalDevelopmentActivitiesRecord(record);">
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- No content -->
          <div no-content *ngIf="!selectedQuarter.professionalDevelopmentActivityRecord.length">
            No Record available
          </div>
          <!-- end of no content -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="fileUploadModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Upload File</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body" *ngIf="selectedQuarter">
        <div class="form-group">
          <label>Select File</label>
          <input type="file" class="form-control-file" id="exampleInputFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            aria-describedby="fileHelp" (change)="selectedQuarter.file = $event.target.files[0];">
          <small id="fileHelp" class="form-text text-muted">Accept only .xls, .csv or excel sheets</small>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="selectedQuarter.replace">Overwrite current file
          </label>
        </div>
      </div>
      <div class="progress" *ngIf="selectedQuarter.submitButton">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
          <span>Uploading..<span class="dotdotdot"></span></span>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="uploadFile(selectedQuarter);">Upload</button>
        <button type="button" class="btn-sp btn-clear" data-dismiss="modal" >Close</button>
      </div>

    </div>
  </div>
</div>