<!-- Quarter Boxes -->
<div>
  <div class="px-3" *ngFor="let tdl of department.opiAnnualTargets;let at=index;">
    <div class="d-flex justify-content-between card-header py-2 mt-2">
      <div>
        <b>Year:</b> {{tdl.year}}
      </div>
      <div class="text-right">
        <b>BASE LINE :</b>{{department.baseline}}
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column card-box small-box p-0 m-2 speed-p7 animate bounceIn" style="width:25%" *ngFor="let lev of tdl.levels;let in=index;" [style.border-color]="lev.successInfo.color">
        <div class="d-flex justify-content-between align-items-center text-white p-2" [style.background]="lev.successInfo.color" [class.text-black]="lev.successInfo.color == '#FFEB3B'">          <div>
            <!-- <small>Quarter</small> -->
            <div class="text-uppercase">{{lev.quarter}}</div>
          </div>
          <div class="text-right">
            <!-- <small>Status (role)</small> -->
            <div class="text-capitalize">
                
                {{lev.status}}
              <br>
              by {{lev.role}}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Baseline</small>
            <div>{{lev.baseline}}</div>
          </div>
          <div class="text-right">
            <small>Estimated Cost </small>
            <div>{{tdl.estimatedCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-2 mx-2">
          <div>
            <small>Target </small>
            <div> {{lev.estimatedTargetLevel}}</div>
          </div>
          <div class="text-right">
            <small>End Date </small>
            <div>{{lev.endDate + tdl.year}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-between  mt-2 mx-2">
          <div>
            <div *ngIf="lev.status!='unsubmitted'">
              <a data-toggle="modal" [attr.href]="'#myModal'+d" (click)="selectQuarter(lev);programListView = true;">
                <!-- <small>Number of Research Consultancy Project</small> -->
                <small>RCP
                  <i class="fas fa-eye"></i>
                </small>
              </a>
              <div>{{lev.studentResearches.length}}</div>
            </div>
          </div>
          <div class="text-right">
            <small>Current Cost </small>
            <div>{{lev.currentCost}}</div>
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3" *ngIf="!lev.disable">
          <a class="btn-link link primary-link text-primary" data-toggle="modal" [attr.data-target]="'#myModal'+d" (click)="selectQuarter(lev)" *ngIf="lev.status=='unsubmitted'">
            <i class="fas fa-sign-in-alt"></i> Fill
          </a>
          <button class="btn-link link primary-link text-primary" *ngIf="lev.studentResearches.length&&lev.status!='locked'" (click)="lockQuarterResult(lev)"
            [disabled]="lev.disable">
            <i class="fas fa-lock"></i> Lock
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end of quarter boxes -->


<!-- Modal -->
<div [attr.id]="'myModal'+d" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Student Research Form</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="isUpdating=false">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="studentResearchForm" (submit)="submitForm()" *ngIf="!programListView">
        <div class="modal-body row">
          <div class="form-group col-lg-6 col-sm-12">
            <label class="control-label">Event Title:</label>
              <input type="text" class="form-control" placeholder="Enter Event Title" formControlName="eventTitle">
          </div>
          <div class="form-group col-lg-6 col-sm-12">
            <label class="control-label">Event Type:</label>
              <select class="form-control" formControlName="eventType">
                <option value="course">course</option>
                <option value="workshop">workshop</option>
                <option value="seminar">seminar</option>
                <option value="confrence">confrence</option>
              </select>
          </div>
          <div class="form-group col-lg-6 col-sm-12">
            <label class="control-label">Current Cost:</label>
              <input type="number" class="form-control" placeholder="Enter Current Cost" formControlName="currentCost">
          </div>
          <div class="form-group col-lg-6 col-sm-12">
            <label class="control-label">Organised By:</label>
              <input type="text" class="form-control" formControlName="organizedBy">
          </div>
          <div class="form-group col-lg-6 col-sm-12">
              <label class="control-label">Scope:</label>
                <select class="form-control" formControlName="scopeId">
                  <option value="1">Local</option>
                  <option value="2">Emirates</option>
                  <option value="3">UAE</option>
                  <option value="4">GCC</option>
                  <option value="5">International</option>
                </select>
            </div>
            <div class="form-group col-lg-6 col-sm-12">
              <label class="control-label">Number of Student Attended From Our College:</label>
                <input type="number" class="form-control" formControlName="totalStudentAttendedFromOurCollege">
            </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label class="control-label">Start Date:</label>
              <input type="date" class="form-control" formControlName="startAt">
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label class="control-label">End Date:</label>
              <input type="date" class="form-control" formControlName="endAt">
          </div>
          <div class="form-group col-lg-4 col-sm-12">
            <label class="control-label">Location:</label>
              <input type="text" class="form-control" formControlName="location">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-clear" (click)="programListView = true;">
            Back
          </button>
          <button type="submit" class="btn-sp btn-primary" [disabled]="studentResearchForm.invalid"> Submit</button>
        </div>
      </form>
      <div *ngIf="programListView">
        <div class="modal-body">
          <table class="table table-bordered table-card" style="position: relative;">
            <caption>
              <strong>
                <u>Student Researches</u>
              </strong>
              <button class="pull-right">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
            </caption>
            <thead>
              <tr>
                <th style="vertical-align:middle;">#</th>
                <th style="vertical-align:middle;">Event</th>
                <th style="vertical-align:middle;">Event Type</th>
                <th style="vertical-align:middle;">Start Date</th>
                <th style="vertical-align:middle;">End Date</th>
                <th style="vertical-align:middle;">Location</th>
                <th style="vertical-align:middle;">Organized By</th>
                <th style="vertical-align:middle;">No. of Student Attended From Our College</th>
                <th style="vertical-align:middle;">Scope</th>
                <th style="vertical-align: middle">Evidence</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let research of selectedQuarter.studentResearches;let p = index;" style="position: relative;">
                <td>{{p+1}}</td>
                <td>{{research.eventTitle}}</td>
                <td>{{research.eventType}}</td>
                <td>{{research.startAt}}</td>
                <td>{{research.endAt}}</td>
                <td>{{research.location}}</td>
                <td>{{research.organizedBy}}</td>
                <td>{{research.totalStudentAttendedFromOurCollege}}</td>
                <td>{{research.scope}}</td>
                <td>
                  <div class="dropdown">
                    <strong>Evidence </strong>:
                    <a class="text-primary link primary-link dropdown-toggle" id="menu1" data-toggle="dropdown"><small>Files</small> {{research.evidance.length}}
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu" style="right: 0;left:unset;font-size:12px;">
                      <li role="presentation" *ngFor="let ev of research.evidance;let e = index;" class="d-flex justify-content-between">
                        <a class="btn-link" role="menuitem" tabindex="-1" [attr.href]="ev.url" style="float:left">evidance {{e+1}}</a>
                        <button type="button" class="close" (click)="deleteEvidence(ev,research.evidance)" [hidden]="selectedQuarter.status=='locked'">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </li>
                      <li class="text-center" role="presentation" *ngIf="!research.evidance.length">None</li>
                      <li role="presentation" class="divider" style="clear: both;"></li>
                      <li class="text-center" role="presentation">
                        <!-- <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" data-target="#evidenceForm"
                          [disabled]="selectedQuarter.disable" (click)="selectProgram(research)"> Upload</button> -->
                        <button *ngIf="selectedQuarter.status=='inprogress'||selectedQuarter.status=='rejected'" data-toggle="modal" [attr.data-target]="'#evidenceForm'+ formId" (click)="selectedForm = research" [disabled]="selectedQuarter.disable">Upload</button> 
                      </li>
                    </ul>
                  </div>
                </td>
                  <button (click)="edit(research)" class="btn btn-link">
                      <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-link" (click)="delete(research,selectedQuarter.studentResearches)">
                      <i class="fas fa-trash"></i>
                  </button>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-primary" (click)="programListView = false;resetForm()">
            Add
          </button>
          <button type="button" class="btn-sp btn-clear" data-dismiss="modal" (click)="isUpdating=false">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<evidence-form [evidanceFormId]="formId" [selectedForm]="selectedForm" *ngIf="selectedForm"></evidence-form>