<!-- new code for form -->
<!-- <div class="card card-form" id="add-plan" style="display:none">
      <form [formGroup]="goalForm" (submit)="onSubmit()">
        <div class="card-header">
          <button type="button" class="close" aria-label="Close" (click)="closeForm();isUpdating=false;" data-toggle="tooltip" data-placement="auto"
            title="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 *ngIf="!isUpdating;else editKpi">ADD GOAL</h4>
          <ng-template #editKpi>
            <h4>EDIT GOAL</h4>
          </ng-template>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label" for="year">Strategic Plan:</label>
                <select id="year" name="year" class="form-control" formControlName="cycleId" [ngModel]="defaultCycle.cycleId" disabled>
                  <option *ngFor="let c of cycles;let y = index;" [ngValue]="c.cycleId">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}] : {{c.description}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="control-label">Goal</label>
                <textarea class="form-control" rows="3" formControlName="goal"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-default pull-right btn-sub" [disabled]="goalForm.invalid">
                SUBMIT
              </button>
            </div>
          </div>
        </div>
      </form>
    </div> -->


<!-- code for table -->
<!-- <div class="card table-card">
      <table class="table  table-bordered table-data">
        <colgroup>
          <col style="width:70%">
          <col style="width:10%">
          <col style="width:10%">
          <col style="width:10%">
        </colgroup>
        <thead class="header-background" *ngIf="goalsCopy.length">
          <tr>
            <th>
              <span class="hide-text">GOAL</span>
              <form action="" class="search-form">
                <div class="form-group has-feedback">
                  <label for="search" class="sr-only">Search</label>
                  <input type="text" class="form-control" name="search" id="search" (keyup)="searchGoal($event,goals)" placeholder="GOAL">
                  <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
              </form>
            </th>
            <th style="text-align:center">Disable</th>
            <th style="text-align:center">Edit</th>
            <th style="text-align:center">Delete</th>
          </tr>
        </thead>
        <tbody class="body-background">
          <tr *ngFor="let goal of goals;let i = index;" [style.background]="goal.disable?'#f3efef':'unset'">
            <td style="vertical-align: middle;">{{goal.goal}}</td>
            <td>
              <label class="switch">
                <input type="checkbox" [checked]="goal.disable" (change)="disable($event,goal.goalId)">
                <span class="slider round"></span>
              </label>
            </td>
            <td style="vertical-align: middle;">
              <button class="btn-link" scrollTo href="#add-initiative" (click)="updateGoal(goal)" [disabled]="goal.disable" [ngClass]="goal.disable?'icon-mark':'icon-mark2'">
                <i class="glyphicon glyphicon-edit"></i>
              </button>
            </td>
            <td style="vertical-align: middle;">
              <button class="btn-link" (click)="deleteGoal(goal.goalId,goals,i)" [disabled]="goal.disable" [ngClass]="goal.disable?'icon-mark':'icon-mark2'">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="!goals.length">
          <tr>
            <td colspan="4" class="text-center">No Data to Display .,.</td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div> -->

<!-- filter -->
<div class="filter animate slideInUp">
  <div class="d-flex">
    <div class="icon">
      <i class="fas fa-calendar-alt"></i>
    </div>
    <div class="form-group dropdown-st">
      <label class="control-label">Current Strategic Plan</label>
      <select id="year" name="year" class="form-control" [(ngModel)]="defaultCycle" (ngModelChange)="getGoals()">
        <option *ngFor="let c of cycles;let y = index;" [ngValue]="c" [attr.selected]="c.defaultCycle">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}]</option>
      </select>
    </div>
  </div>
</div>
<!-- end of filter -->

<!-- data fidder -->
<div class="container card data-fidder animate slideInDown" style="display:none" id="add-plan">
  <div class="small-fidder">
    <div class="modal-header">
      <h5 *ngIf="!isUpdating;else editKpi">
        Add goal
      </h5>
      <ng-template #editKpi>
        <h5>EDIT GOAL</h5>
      </ng-template>
      <button type="button" class="close" (click)="closeForm();isUpdating=false;">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="goalForm" (submit)="onSubmit()">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label" for="year">Strategic Plan:</label>
              <select id="year" name="year" class="form-control" formControlName="cycleId" [ngModel]="defaultCycle.cycleId" disabled>
                <option *ngFor="let c of cycles;let y = index;" [ngValue]="c.cycleId">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}] : {{c.description}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="control-label">Goal</label>
              <textarea class="form-control" rows="3" formControlName="goal"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-sp btn-primary" [disabled]="goalForm.invalid">
          Save
        </button>
        <button data-dismiss="modal" class="btn-sp btn-clear">Close</button>
      </div>
    </form>
  </div>
</div>
<!-- end of data fidder -->

<!-- table -->
<div class="container mt-3 animate slideInDown" *ngIf="goals.length&&!loaderService.status.value">
  <div class="card">
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead *ngIf="goalsCopy.length">
          <tr>
            <th>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  Goal
                </div>
                <div class="search-box">
                  <span>
                    <i class="fas fa-search"></i>
                  </span>
                  <form>
                    <input name="search" id="search" (keyup)="searchGoal($event,goals)">
                  </form>
                </div>
              </div>

            </th>
            <th>Active</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Initiatives</th>
          </tr>
        </thead>
        <tbody *ngIf="goals.length">
          <tr *ngFor="let goal of goals;let i = index;">
            <td>{{goal.goal}}</td>
            <td>
              <input type="checkbox" [checked]="!goal.disable" (change)="disable($event,goal.goalId)">
            </td>
            <td>
              <button class="btn btn-link" type="button" scrollTo href="#add-initiative" (click)="updateGoal(goal)" [disabled]="goal.disable">
                <i class="fas fa-edit"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-link" type="button" (click)="deleteGoal(goal.goalId,goals,i)" [disabled]="goal.disable">
                <i class="fas fa-trash-alt"></i>
              </button>
            </td>
            <td>
              <button class="btn btn-link" type="button" [routerLink]="['../../initiatives',{goalId:goal.goalId,cycleId:defaultCycle.cycleId}]" [disabled]="goal.disable">
                <i class="fas fa-eye"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end of table -->
      <!-- No content -->
      <div no-content *ngIf="!goals.length&&!loaderService.status.value">
          Data not available
        </div>
      <!-- end of no content -->



<!-- add new -->
<div fab class="btn btn-primary" id="add-btn" (click)="addNewGoal()">
  <i class="fas fa-plus"></i>
</div>
<!-- end of add new -->
