
<div class="container">
  <div fab id="add-btn" (click)="addNewGoal()">
    <i class="glyphicon glyphicon-plus"></i>
  </div>
</div>
  <div class="container-fluid">


  <!-- code for table -->


  <div class="block">
    <div class="block-border">
      <div class="block-content" style="background:white;">
        <h1>
          <div class="form-group no-margin">
            <select id="year" name="year" class="form-control" [(ngModel)]="defaultCycle" (ngModelChange)="getGoals()" style="width:auto;height: auto;padding: 0px;">
              <option *ngFor="let c of cycles;let y = index;" [value]="c.cycleId" [attr.selected]="c.defaultCycle">{{c.planYear}}: [{{c.startYear}} To {{c.endYear}}]</option>
            </select>
          </div>
        </h1>
        <div class="block-header">
          <h4 style="margin-top:40px;">Strategic Goals</h4>
        </div>
        <table class="table  table-bordered table-data" *ngIf="goals.length">
          <colgroup>
            <col style="width:70%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:10%">
          </colgroup>
          <thead class="header-background" *ngIf="goalsCopy.length">
            <tr>
              <th>
                <span class="hide-text">GOAL</span>
                <form action="" class="search-form">
                  <div class="form-group has-feedback" style="margin-bottom:10px;">
                    <label for="search" class="sr-only">Search</label>
                    <input type="text" class="form-control" name="search" id="search" (keyup)="searchGoal($event,goals)" placeholder="GOAL">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                  </div>
                </form>
              </th>
              <th style="text-align:center">Disable</th>
              <th style="text-align:center">Edit</th>
              <th style="text-align:center">Delete</th>
            </tr>
          </thead>
          <tbody class="body-background">
            <tr *ngFor="let goal of goals;let i = index;" [style.background]="goal.disable?'#f3efef':'unset'">
              <td>{{goal.goal}}</td>
              <td class="text-center">
                <label class="switch">
                  <input type="checkbox" [checked]="goal.disable" (change)="disable($event,goal.goalId)">
                  <span class="slider round"></span>
                </label>
              </td>
              <td class="text-center">
                <button class="btn-link  planner-action-button" scrollTo href="#add-initiative" (click)="updateGoal(goal)" [disabled]="goal.disable"
                  [ngClass]="goal.disable?'icon-mark':'icon-mark2'">
                  <i class="glyphicon glyphicon-edit"></i>
                </button>
              </td>
              <td class="text-center">
                <button class="btn-link  planner-action-button" (click)="deleteGoal(goal.goalId,goals,i)" [disabled]="goal.disable" [ngClass]="goal.disable?'icon-mark':'icon-mark2'">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <img *ngIf="!goals.length" src="http://www.nmsf.gov.sd/includes/slides/no-records1.png" class="center-block">
        
      </div>
    </div>
  </div>
</div>
