
.icon-size{
  font-size: 87px;
}

.table{
  margin-bottom: 0px;
 }
 .table .table {
  background-color: inherit;
 }

 .panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.dropdown-menu{
  border: 2px solid var(--color-primary);
}

.department-hierarchy{
  overflow-y: scroll;
  height: 60vh;
}


/*My styles*/
.quarter-block{
 position: relative;
 font-size: 12px; 
 padding-left: 25px;
 padding-top: 20px;
}
.quarter{
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px;
  background: rebeccapurple;
  color: white;
  border-radius: 2px;
  text-transform: capitalize;
}

.quarter-block .row{
  margin-bottom: 10px;
}