<!-- subheader -->
<div class="subheader">
  <div class="nav">
    <button class="btn btn-link" type="button" routerlink="/">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>
  <div class="title">
    <span *ngIf="!my; else mystep;">Action Plans (KPI)</span>
    <ng-template #mystep>
      <h2>Span</h2>
    </ng-template>
  </div>
</div>
<!-- end of subheader -->

<!-- Accordion -->
<div class="container-fluid" id="accordion">
  <div *ngIf="actionSteps">
  <div *ngFor="let data of actionSteps;let s = index;" class="card my-2 animate slideInDown">
    <div class="card-header p-2">
      <a data-toggle="collapse" class="btn btn-link d-flex justify-content-between" [attr.href]="'#collapse'+ s">
        <span>{{s+1}}. {{data.opi}}</span>
        <i class="float-right fas fa-compress"></i>
      </a>
    </div>
    <!-- collapse panel for KPI -->
    <div [attr.id]="'collapse'+ s" class="panel-collapse collapse p-3" data-parent="#accordion" [ngClass]="!s?'show':''">

      <!-- text-details box -->
      <div class="text-details my-2">
        <div class='container'>
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <b>Strategic Goal</b>
              <p>
                {{data.goal}}
              </p>
            </div>
            <div class="col-lg-4 col-sm-12">
              <b>Initiative</b>
              <p>
                {{data.initiative}}
              </p>
            </div>
            <div class="col-lg-4 col-sm-12">
              <b>Activity</b>
              <p>
                {{data.activity}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- end of text-details box -->

      <!-- accordion  -->
      <div [attr.id]="'accordion'+s">
        <fieldset *ngFor="let dept of data.departmentInfo;let d = index;">
          <div [attr.data-target]="'#demo' + s + d" data-toggle="collapse" class="text-primary card-header p-2">
            {{d+1}}. {{dept.department}}
            <span class="float-right"><i class="fas fa-compress"></i></span>
          </div>
          <div [attr.id]="'demo' + s + d" class="collapse" [attr.data-parent]="'#accordion'+s" [ngClass]="d?'':'show'">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>*</th>
                    <th>Action</th>
                    <th>Root Cause</th>
                    <th>Resources</th>
                    <th>Deadline</th>
                    <th *ngIf="!my">Assigned</th>
                    <th *ngIf="!my">Edit</th>
                    <th *ngIf="my">Fill</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let step of dept.stepInfo;let s = index;">
                    <th>{{s+1}}</th>
                    <td>{{step.description}}</td>
                    <td>{{step.reason}}</td>
                    <td>{{step.resources}}</td>
                    <td>{{step.deadline}}</td>
                    <td *ngIf="!my">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-transparent" *ngFor="let emp of step.employeeAssigned;let i = index;">
                          {{emp.firstName + emp.lastName}}
                        </li>
                        <a class="text-primary link primary-link float-right" (click)="showList(step)" data-toggle="modal" data-target="#assignModal">Assign</a>
                      </ul>
                    </td>
                    <td *ngIf="!my">
                      <button class="btn btn-link" (click)="editActionStep(step)" data-toggle="modal" data-target="#myModal">
                        <i class="fas fa-edit"></i>
                      </button>
                    </td>
                    <td *ngIf="my">
                      <button type="button" class="btn btn-link" data-toggle="modal" data-target="#postActionModal" (click)="selectedStep=step"
                        *ngIf="step.statusLogs&&!step.statusLogs.length">Set Status</button>
                      <span *ngIf="step.statusLogs&&step.statusLogs.length">{{step.statusLogs[0].status}}</span>
                    </td>
                  </tr>
                </tbody>
                <!-- No content -->
                <div no-content *ngIf="!dept.stepInfo.length">
                  Data not available
                </div>
                <!-- end of no content -->
              </table>
          </div>
        </fieldset>
      </div>
      <!-- accordian end -->
    </div>
    <!-- end of collapse panel for KPI -->
  </div>
</div>
  <!-- No content -->
  <div no-content *ngIf="my&& !actionSteps.length">
    No Action Steps Assigned To You
  </div>
  <!-- end of no content -->
  <!-- No content -->
  <div no-content *ngIf="!my&& !actionSteps.length">
    No Action Steps are linked
  </div>
  <!-- end of no content -->
</div>
<!-- end of accordion -->




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" *ngIf="selectedStep">
      <div class="modal-header">
          <p class="modal-title">{{selectedStep.description}}</p>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form class="form-horizontal" [formGroup]="actionForm" (submit)="onSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label col-sm-2">Description</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="description"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Reason</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="reason"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Resources</label>
            <div class="col-sm-12">
              <textarea class="form-control" formControlName="resources"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">Deadline</label>
            <div class="col-sm-12">
              <input class="form-control" type="date" formControlName="deadline">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn-sp btn-primary">Submit</button>
        </div>
      </form>

    </div>

  </div>
</div>

<!--post Action Modal -->
<div class="modal fade" id="postActionModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" *ngIf="selectedStep">
      <div class="modal-header">
          <h4 class="modal-title">{{selectedStep.description}}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <form [formGroup]="statusForm" (submit)="onStatusSubmit()">
        <div class="modal-body">
          <div class="row form-group">
            <label class="control-label col-lg-2">Status</label>
            <div class="col-lg-12">
              <select class="form-control" formControlName="status">
                <option value="inprogress">Inprogress</option>
                <option value="onhold">Onhold</option>
                <option value="completed">Completed</option>
              </select>
            </div>
          </div>
          <div class="row form-group">
            <label class="control-label col-lg-2">Comment</label>
            <div class="col-lg-12">
              <textarea class="form-control" formControlName="comment"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" [disabled]="statusForm.invalid">Submit</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>

  </div>
</div>

<!-- ASSIGN EMP MODAL -->
<div class="modal fade" id="assignModal" tabindex="-1" role="dialog" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Assign Employee</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <!-- ASSIGN EMP LIST -->
              <div class="emp-list w-100">
                    <select class="custom-select" multiple id="toggle-list" [(ngModel)]="employeeIds">
                      <option *ngFor="let emp of employees;let i = index;" [ngValue]="emp" [selected]="emp.assigned" [disabled]="emp.assigned">{{emp.firstName + emp.lastName}}</option>
                    </select>
                  <div class='text-center '>
                    <small class="text-secondary">
                      <b>Note: </b>Hold ctrl/cmd for multiple selection</small>
                  </div>
                </div>
                <!-- END OF ASSIGN EMP LIST -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sp btn-primary" [disabled]="!employeeIds" (click)="assignEmployee()">Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END ASSIGN EMP MODAL -->