.navbar-dark{
  background:var(--color-primary);
}
.navbar{
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.container nav{
  margin-top:20px;
}


.breadcrumb-item+.breadcrumb-item::before{
  content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:15px;
}

.user-menu{
    right: 10px;
    left: initial;
    padding:0px;
    transition: transform .2s,visibility .2s;
    transform: translateY(0);
}
.user-menu .image{
  width:40%;
  margin-left:10px;
}
.user-menu .image img{
  width:100px;
  height:100px;
  border-radius:50%;
}
.user-menu .data{
  padding: 10px 16px;
  width:100%;
}
.user-menu .data p{
  color:gray;
  text-transform: capitalize;
  margin-bottom: 0px;
}
.user-menu .data .mail{
display:flex;
margin-top:5px;
}
.user-menu .data .mail svg{
  color:var(--color-primary)!important;
}
.user-menu .data .mail div{
  margin-top:-5px;
  margin-left:10px;
}
.user-menu .dropdown-footer{
  background:var(--color-body);
  border-top:1px solid darkgray;
  display:flex;
  justify-content: space-between;
}