/* Variables */
$primary: #049ae5;
$danger: var(--color-danger);
$second-back: #fafafa;
:root{
  --color-primary : $primary;
  --color-text    : #b9bcfb;
  --color-body    : #f2f2f2;
  --color0        : white;
  --color1        : #d6c7e8;
  --color2        : rgb(248, 242, 255);
  --color3        : #36a3f7;
  --color4        : #716aca;
  --color5        : #34bfa3;
  --color5Text    : white;
  --color4Text    : white;
  --color3Text    : white;
  --button-color1 : #3b548c;
  --button-color2 : #F44336;
  --button-color3 : #4CAF50;
  --small-font    : 10px;
  --medium-font   : 12px;
  --large-font    : 14px;
  --extralg-font  : 16px;


  --color-danger: #F44336;
  --color-header: #77909b;
}

/* end of variables  */
/* animations */

.animate {
  animation-duration: 0.3s;
  animation-timing-function: ease;
}

.infinite{
  animation-iteration-count: infinite;
}

.speed-4{
  animation-duration: 4s !important;
}
.speed-p7{
  animation-duration: 0.7s !important;
}
.delay-1{
  animation-delay: 1s;
}

@keyframes slideInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideInDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes openBox {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.openBox {
  animation-name: openBox;
}

@keyframes moveXAxis {
  from {
    transform: translate(-100px);
  }
  to {
    transform: translate(100px);
  }
}

.moveXAxis {
  animation-name: moveXAxis;
}

@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  animation-name: bounceIn;
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: none;
  }
}

.bounceInDown {
  animation-name: bounceInDown;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}
/* end of animation */

/* cards */
.cards-area{
  .card{
    height:100%;
    svg{
      font-size: 35px;
      color: $primary;
    }
  }
}
.card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  .card-icon-title {
    display: flex;
    align-items: center;
  }
  .card-icon-title {
    .icon {
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 50%;
      background: var(--color-primary);
      svg {
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .title {
      font-size: 20px;
      color: var(--color-primary);
      padding-left: 10px;
    }
  }
  .icon-card-body {
    padding-left: 60px;
  }
  .card-header {
    padding: 20px;
    transition:0.3s;
    &:hover{
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0px;
    }
  }
  .card-box {
    border: 1px solid lightgray;
    padding: 30px;
    margin-left: -1px;
    margin-top: -1px;
    small{
      color:gray;
    }
    h6 {
      color: var(--color-primary);
    }
    p {
      font-size: 14px;
      line-height: 24px;
      color: #757575;
      padding-bottom: 40px;
      padding-top: 20px;
    }
  }
  .small-box{
    font-size:12px;
    border-color:$primary;
    small{
      color:$primary;
    }
  }
}

/* end of cards */

/* text */

.circle-letter {
  background: var(--color-primary);
  color: white;
  padding: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
}

.danger-text {
  color: var(--color-danger) !important;
}

.primary-text {
  color: var(--color-primary) !important;
}

.dull-text {
  color: gray !important;
}

/* end of text */

/* buttons */

.btn-sp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  border-radius: 3px;
  padding: 8px 25px;
  border: 0;
  transition: 0.3s;
}

.btn-sp:hover {
  cursor: pointer;
}

.btn-sp:focus {
  outline: 0 !important;
  box-shadow: 0px 2px 5px gray;
}

.btn-plain {
  box-shadow: 0px 0 0;
  background: transparent;
  color: gray;
}

.btn-plain:active {
  box-shadow: 0px 2px 5px gray;
}

.btn-default,.btn-primary {
  background: var(--color-primary) !important;
  color: white !important;
}

.btn-default:hover, .btn-primary:hover, {
  background: darken($primary,5) !important;
  color: white !important;
}

.btn-default:active , .btn-primary:active, {
  background: darken($primary,10) !important;
  color: white !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.47);
}
.btn-sp-small {
  padding: 8px 15px;
  font-size: 12px;
}

.btn-trans {
  background: transparent;
}

.btn-trans:hover {
  background: white;
}

.btn-active-danger:active {
  background: var(--color-danger);
  color: white;
}

.right-action-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  color: darkgray;
  text-align: center;
}

.right-action-btn:hover {
  color: gray;
}

.right-action-btn .dropdown-menu {
  transform: initial !important;
  background: white;
  border: 0;
  left: initial !important;
  right: 0;
  border-radius: 1px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .12);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background: #f2f2f2;
}

.btn-sp[disabled] {
  background: lightgray !important;
  color: gray !important;
  box-shadow: 0px 0px 0px !important;
  ;
  cursor: no-drop !important;
}

.link {
  padding: 2px 20px;
  transition: background 0.3s;
  cursor: pointer;
}

.btn-link-secondary {
  color: white;
  transition: 0.3s ease-in-out;
  &:hover {
    transform: scale(1.5);
    color: white;
  }
}

.primary-link {
  color: $primary !important;
  &:hover {
    color: var(--color-primary);
    background: rgba(0, 122, 255, 0.10980392156862745);
  }
}

.danger-link {
  color: var(--color-danger);
  &:hover {
    background: rgba(255, 204, 204, 0.35);
    color: var(--color-danger);
  }
}

.dull-link {
  color: gray;
  &:hover {
    background: rgba(0, 122, 255, 0.10980392156862745);
  }
}

button[disabled] {
  .primary-link,
  .danger-link,
  .dull-link {
    cursor: no-drop;
    &:hover {
      background: transparent;
    }
  }
}

/* end of buttons */

/* messages */

.message-danger {
  border-radius: 1px;
  color: var(--color-danger);
  background: #ff000021;
  font-size: 14px;
  margin: 16px 0;
  padding: 12px 24px 12px 24px;
}

/* end of messages */

// data fidder
.data-fidder {
  transition: 0.3s;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23921568627450981);
  position: sticky;
  top: 0px;
  z-index: 3;
  .small-fidder {
    padding: 25px 20px 10px 20px;
    .modal-header {
      padding: 0px;
      color: $primary;
      flex-direction: row;
    }
    .modal-footer {
      padding: 0px;
    }
  }
}

// end of data fidder
// highlight
.highlight {
  position: relative;
  padding-left: 30px !important;
  vertical-align: middle !important;
  transition: 0.3s ease-in;
}

.highlight {
  span:before {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $primary;
    border: 2px solid white;
    box-shadow: 0 0 3px;
  }
}

.highlight {
  position: relative;
  padding-left: 30px !important;
  vertical-align: middle !important;
  transition: 0.3s ease-in;
}

.highlight-box {
  margin-right: 10px;
  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $primary;
    border: 2px solid white;
    box-shadow: 0 0 3px;
  }
}

.highlight-dot{
  position:absolute;
  width:10px;
  height:10px;
  border-radius: 50%;
  border:1px solid white;
  margin-left: -15px;
  margin-top: 4px;
  box-shadow:0 0 5px rgba(0,0,0,0.4);
}

// end of highlight
/* search box */

.search-box {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 1px 2px 0 rgba(0, 0, 0, 0.07), 0 2px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 0.10);
  border-radius: 3px;
  flex-grow: 0.6;
  position: relative;
  transition: background 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.20);
  }
  &:focus-within {
    background: rgba(255, 255, 255, 1);
    span {
      color: black;
    }
    input {
      color: black;
    }
  }
  span {
    margin: 0 19px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  input {
    padding-left: 50px !important;
    padding-right: 25px;
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    border: none;
    background: none;
    padding: 0;
    outline: none;
    margin-right: 16px;
    color: white;
  }
}

/* end of search box */

// filter
.filter {
  margin: 5px 50px;
  display: flex;
  flex-flow: row-reverse;
  .icon {
    margin: 0 10px 0 0;
    font-size: 25px;
    color: #848484;
  }
  label {
    margin-bottom: 0px;
    font-size: 12px;
    color: gray;
    border-bottom: 1px solid gray;
    text-align: center
  }
  select {
    background: none;
    border: none;
    font-size: 12px;
    color: gray;
    padding: 10px !important;
    padding-top:5px !important;
    height: 30px !important;
    width: auto;
    cursor: pointer;
    &:focus-within {
      background: none;
    }
  }
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .value {
    text-align: center;
    color: gray;
    font-size: 12px;
  }
}

// end of filter
// no-content
div[no-content] {
  position: relative;
  background: #f7f7f7;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  color: #bf360c;
  margin: 130px 0;
  &:before {
    animation: moveXAxis 2s ease-in-out infinite;
    animation-direction: alternate;
    background: url(/assets/flame.png) center/100% no-repeat;
    bottom: 37px;
    content: '';
    display: block;
    height: 122px;
    left: 75%;
    position: absolute;
    width: 115px;
  }
}

// end of no-content
/* background */

.background {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  position: fixed;
  z-index: -6;
  background-size: auto 50% !important;
  &:after {
    position: absolute;
    font-size: 5vh;
    font-weight: bold;
    top: 70vh;
    left: 50%;
    transform: translate(-50%);
  }
}

/* end of background */

// flow-chart-dots
.flow-chart {
  border-top: 3px solid $primary;
  display: inline-block;
  margin-top: 50px;
  padding-top: 10px;
  position: relative;
  color: gray;
  left: 50%;
  transform: translate(-50%);
  ul {
    list-style: none;
    padding-left: 0px;
    display: -webkit-inline-box;
    li {
      text-transform: uppercase;
      padding: 10px 40px;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        width: 25px;
        height: 25px;
        border-radius: 50%;
        top: -25px;
        left: 50%;
        transform: translate(-50%);
        border: 2px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        animation: insert-dots 0.7s ease-in-out;
      }
    }
  }
}

@keyframes insert-dots {
  from {
    left: 0%
  }
  to {
    left: 50%;
  }
}

.indicator {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  ul {
    padding-left: 0px;
    list-style: none;
    display: -webkit-inline-box;
    left: 50% !important;
    position: relative;
    transform: translate(-50%);
    li {
      padding: 10px 40px;
      position: relative;
      &:before {
        position: absolute;
        width: 10px;
        height: 10px;
        background: red;
        content: '';
        border-radius: 50%;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        left: 20px;
        top: 17px;
      }
    }
  }
}

.null:before {
  background: lightgray !important;
}

.locked:before {
  background: #FFC107 !important;
}

.approved:before {
  background: #4CAF50 !important;
}

.rejected:before {
  background: #F44336 !important;
}

// end of flow-chart-dots


// subheader
.subheader{
  background:var(--color-body);
  display:flex;
  align-items: center;
  padding: 10px 0;
  position: sticky;
  top: 55px;
  z-index: 1;
    border-bottom: 1px solid lightgray;
  .nav{
    button{
      padding: 10px 30px;
      cursor:pointer;
    }
    svg{
      font-size: 20px;
    }
  }
  .title{
    font-size:20px;
  }
}
// end of subheader


// details area
.text-details{
  background:white;
  font-size:14px;
}
// end of details area

// table-accordion

.table-accordion{
  .innerbuttons{
    margin-top:-50px;
    float:right;
    margin-right:20px;
  }
}
// end of table-accordion


// material form
.material_form {
  padding: 50px;
  padding-bottom:0px;
  border:1px solid lightgray;
  margin-bottom:1px;
  .item {
    position: relative;
    margin-bottom: 50px;
    input,
    textarea {
      width: 100%;
      height: 30px;
      border: 0px;
      border-bottom: 1px solid lightgray;
      background: transparent;
      font-size: 16px;
      &:focus {
        outline: 0;
      }
    }
    textarea {
      height: 90px !important;
    }
    label {
      position: absolute;
      top: 0px;
      font-size: 18px;
      left: 15px;
      cursor: text;
      transition: .2s ease-out;
      color: gray;
    }
  }
  input:focus~label,
  textarea:focus~label,
  input:not(:placeholder-shown)~label,
  textarea:not(:placeholder-shown)~label {
    font-size: 12px !important;
    top: -20px !important;
    color: $primary !important;
    font-weight: bold;
  }
  input:focus,
  textarea:focus,
  input:not(:placeholder-shown),
  textarea:not(:placeholder-shown) {
    border-bottom-color: $primary !important;
    font-size: 16px !important;
  }
  ::placeholder {
    color: transparent;
  }
  a {
    padding: 10px 30px;
    background: $primary;
    color: white;
    margin: 0 10px;
    box-shadow: 0 3px 10px lightgray;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.4s;
    float: right;
    &:hover {
      background: $primary;
      box-shadow: 0 0px 15px darkgray;
    }
    &:active {
      box-shadow: 0 5px 15px darkgray;
    }
  }
}
// end of material form
