/* animations */
.animate{
    animation-duration: 0.3s;
    animation-timing-function: ease;
}
@keyframes slideInUp{
    from{
        transform:translateY(50px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.slideInUp{
    animation-name:slideInUp;
}

@keyframes slideInDown{
    from{
        transform:translateY(-50px);
        opacity:0;
    }
    to{
        transform:translateY(0px);
        opacity:1;
    }
}
.slideInDown{
    animation-name:slideInDown;
}

@keyframes openBox{
    from{
        transform:translateY(50px);
        opacity:0;
    }
    to{
         transform:translateY(0);
                opacity:1; 
    }
}
.openBox{
    animation-name:openBox;
}
/* end of animation */

/* cards */
.card{
    background:white;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}
.card .card-icon-title{
    display: flex;
    align-items:center;
}
.card .card-icon-title .icon{
    width:50px;
    height:50px;
    position:relative;
    border-radius: 50%;
    background:var(--color-primary);
}
.card .card-icon-title .icon svg{
    color:white;
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.card .card-icon-title .title{
    font-size: 20px;
    color:var(--color-primary);
    padding-left:10px;
}
.card .icon-card-body{
    padding-left: 60px;
}
.card .card-header{
    background:hotpink;
    color:white;
    padding:20px;
}

.card .card-header h1,h2,h3,h4,h5,h6{
    margin:0px;
}

.card .card-box{
    border:1px solid lightgray;
    padding: 30px;
    margin-left:-1px;
    margin-top:-1px;
}
.card .card-box h6{
    color:var(--color-primary);
}
.card .card-box p{
    font-size: 14px;
    line-height: 24px;
    color: #757575;
    padding-bottom: 40px;
    padding-top:20px;
}

.card .card-box a{
    padding: 2px 20px;
    transition:background 0.3s;
    cursor: pointer;
}
.card .card-box a:hover{
    background:#007aff1c;
    /* color:white !important; */
}
.link{
    padding: 2px 20px;
    transition:background 0.3s;
    cursor: pointer;
}

/* text */
.circle-letter{
    background: var(--color-primary);
    color: white;
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
}
.danger-text{
    color:var(--color-danger) !important;
}
.primary-text{
    color:var(--color-primary) !important;
}
/* end of text */
/* buttons */
.btn-sp{
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
    border-radius:3px;
    padding: 8px 25px;
    border: 0;
    transition: 0.3s;
}
.btn-sp:hover{
    cursor: pointer;
}
.btn-sp:focus{
    outline:0 !important;
}
.btn-default{
    background:var(--color-primary);
    color:white;
}
.btn-default:hover{
    background:var(--color-primary) !important;
    color:white;
}
.btn-default:active{
    background:var(--color-primary) !important;
    color:white !important;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.47);
}

.btn-sp-small{
    padding: 8px 15px;
    font-size: 12px;
}

.btn-trans{
    background:transparent;
}
.btn-trans:hover{
    background:white;
}

.btn-active-danger:active{
    background:var(--color-danger);
    color:white;
}

.right-action-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    cursor:pointer;
    color:darkgray;
    text-align:center;
}
.right-action-btn:hover{
    color:gray;
}
.right-action-btn .dropdown-menu{
    transform: initial !important;
    background:white;
    border:0;
    left:initial !important;
    right:0;
    border-radius:1px;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12);
}
.dropdown-item:focus, .dropdown-item:hover{
    background:#f2f2f2;
}
/* end of buttons */

/* messages */
.message-danger{
    border-radius: 1px;
    color: var(--color-danger);
    background: #ff000021;
    font-size: 14px;
    margin: 16px 0;
    padding: 12px 24px 12px 24px;
}
/* end of messages */