/* You can add global styles to this file, and also import other style files */
@import 'components.scss';


/*loader css  */

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #EEE;
  justify-content: center;
  align-items: center;
}
.spinner {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

.spinner::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite;
}

.spinner::after {
content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

/* end of loader ========================================================================== */


/*Grid By Pankaj*/
.grid{
  width: 100%;
  overflow-x: hidden;
  background: var(--color-primary);;
  border-right: 1px solid var(--color-primary);;
}

.grid-head{
  display: grid;
  grid-gap: 1px;/*inner gap*/  
  background: white;
}

.grid-head .item{
  background: var(--color-primary);;
  color: white;
  font-weight: bold;
}

.grid-outer-body{
  display: grid;
  grid-gap: 1px;/*inner gap*/  
  padding: 1px;/*outer gap or border of table*/
}

.grid-inner-body{
  display: grid;
  grid-gap: 1px;/*inner gap*/
}

.item {
  padding: 8px;
  grid-row-start: 1;
  background-color: rgb(255, 255, 255);  
}

.grid-outer-footer{
  grid-template-columns:100%;
}

.grid-outer-footer .item{
  text-align: center;
}

.hide-text{
  float: left;
  position: absolute;
  margin-top: 10px;
}
/* end og grid by pankaj */






/* fab */
div[fab]{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-primary);
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  color: white;
  transition:0.3s;
  cursor: pointer;
  padding:10px;
  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &:active{
    background:darken($primary,10);
    box-shadow:0 5px 10px rgba(0,0,0,0.27);
  }
  i{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
}
/* end of fab */



/* //new designs */
.middle-fixed-box{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* end of new designs */

/* /body style */
body{
  background:#eceff1;
  // background-size: 100vw !important;
  // background: #eceff1 url(https://firebase.google.com/images/backslant-home-repeat.svg) repeat-y 50% 0;
}
// body:before{
//   content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     height: 100vw;
//     background: url(https://firebase.google.com/images/backslant-sub-top.svg) no-repeat 50% 0/100%;
//     background-size: 100%;
// }
/* end of body styles */

/* overriding bootstrap modal */
.navbar-dark{
  background:var(--color-primary);
}
.navbar{
  position: sticky;
    top: 0;
    z-index: 2;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.container nav{
  margin-top:20px;
}

.navbar-expand-lg{
  .active{
    border-bottom: 2px solid white;
  }
}

.breadcrumb .active a{
  color:var(--color-primary);
  font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:15px;
}

// Dropdown
.show{
  transform:scale(1) !important;
}
.user-menu{
  display:block !important;
  transform:scale(0);
  transform-origin:top right;
    right: 10px;
    left: initial;
    padding:0px;
    transition: transform .3s ease;
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.48);
    .image{
      width:40%;
      margin-left:10px;
      img{
        width:100px;
        height:100px;
        border-radius:50%;
      }
    }
    .data{
      padding: 10px 16px;
      width:100%;
      p{
        color:gray;
        text-transform: capitalize;
        margin-bottom: 0px;
      }
      .mail{
        display:flex;
        margin-top:5px;
        div{
          margin-top:-5px;
          margin-left:10px;
        }
        }
        .mail svg{
          color:var(--color-primary)!important;
        }
    }
    .dropdown-footer{
      background:var(--color-body);
      border-top:1px solid darkgray;
      display:flex;
      justify-content: space-between;
    }
}
// end of dropdown

.modal{
  .modal-dialog, .data-fidder{
    box-shadow: 0 17px 17px rgba(0,0,0,.15), 0 27px 55px rgba(0,0,0,.3);
    .modal-content{
      background:$second-back;
      border-radius:0px !important;
      .modal-title{
        color:black;
      }
      .close{
        color: gray;
        text-shadow: 0 0 0;
        opacity: 1;
        padding: 0px;
        margin: 0;
        margin-top:-10px;
        height: 30px;
        width: 30px;
        &:hover{
          color:black;
        }
      }
      .modal-body{
        max-height: 75vh;
        overflow-y: scroll;
      }
      .modal-footer{
        border-top:0px;
      }
    }
    .modal-box{
      background:white;
      border: 1px solid lightgray;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }
}
.modal-header{
  border-bottom:0px;
}
.modal-footer{
  border-top:0px;
}

.form-group{
  label{
    color: rgba(0,0,0,0.54);
    font-size: 13px;

  }
}
.form-control, {
  border-radius: 0px;
}
.ajs-modal{
  .ajs-dialog{
    .ajs-header{
      background:white;
      border-bottom:0px;
    }
    .ajs-ok{
      @extend .btn-sp;
      @extend .btn-default;
    }
    .ajs-close{
      color:gray;
      &:hover{
        color:black;
      }
    }
    .ajs-cancel{
      color:gray !important;
      padding: 10px 25px;
      margin: 0 10px 20px 20px;
      cursor: pointer;
      &:hover{
        background:lighten(gray,40) !important;
      }
    }
    .ajs-footer{
      background:white;
      border-top:0px;
    }
  }
}
.ajs-error{
  background:$danger;
}

.alertify-notifier .ajs-message.ajs-success{
    background:lighten(black,20) !important;
    color:white;
}


.breadcrumb{
  background:#d5d5d5;
  li{
    a{
      color: #707070;
    }
  }
}

.navbar{
  .navbar-nav{
    a{
      color:initial;
    }
  }
}

thead{
  background:$primary;
  color:white;
}

input[type=checkbox], input[type=radio]{
  cursor: pointer;
}

input[disabled]{
  cursor:no-drop;
}

.list-group-flush {
    .list-group-item{
      padding:2px 6px;
    }
}
/* end of bootstrap modal */


// Tree view
tree-view{
  ul{
    border-left:1px solid $primary;
    margin:5px 5px 0 0;
    padding-left: 20px;
    position: relative;
    margin-top:0px;
    &:before{
      // position: absolute;
      // content:'';
      // height: 15px;
      // top: -13px;
      // left: 7px;
      // border-left:1px solid $primary;
    }
    label{
      display: flex;
      justify-content: start;
    }
    input[type=checkbox], input[type=radio]{
      margin-right: 10px;
      margin-left: -5px;
      margin-top: 5px;
    }
  }
}

// end of tree view

//overriding bootstrap color
.text-primary{
  color:$primary !important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  outline: 0 !important;
  box-shadow: 0px 2px 5px gray;
}
.btn-link{
  color:$primary;
  svg{
    transition:transform 0.3s;
  }
}
.btn-link:hover{
  color:darken($primary,20);
  svg{
    transform: rotate(30deg);
  }
}
.btn-link[disabled]{
  color:lighten($primary,30);
  svg{
    transform: rotate(0deg);
  }
}
.btn-link[disabled]:hover{
  cursor:no-drop;
}
.badge-primary{
  background:$primary;
}
.dropdown-item.active, .dropdown-item:active{
  background: $primary;
  color:white !important;
}
//end of overriding bootstrap color

// overriding bootstrap-custom styles
.custom-file-label::after{
  border-left:0px;
  border-radius:10px;
  font-size:12px;
  padding: 4px 14px;
  height:-webkit-fill-available;
  &:hover{
    background: #dcdcdc;
  }
}
.table thead th {
  vertical-align: middle;
}
// end of BootStrap-custom styles