/* You can add global styles to this file, and also import other style files */
@import 'components.scss';
/* Variables */
:root{
  --color-primary : #4285f4;
  --color-text    : #b9bcfb;
  --color-body    : #f2f2f2;
  --color0        : white;
  --color1        : #d6c7e8;
  --color2        : rgb(248, 242, 255);
  --color3        : #36a3f7;
  --color4        : #716aca;
  --color5        : #34bfa3;
  --color5Text    : white;
  --color4Text    : white;
  --color3Text    : white;
  --button-color1 : #3b548c;
  --button-color2 : #F44336;
  --button-color3 : #4CAF50;
  --small-font    : 10px;
  --medium-font   : 12px;
  --large-font    : 14px;
  --extralg-font  : 16px;


  --color-danger: #F44336;
  --color-header: #77909b;
}
$primary: #4285f4;
$danger: var(--color-danger);
$second-back: #fafafa;
/* end of variables  */


/*loader css  */

.center {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #EEE;
  justify-content: center;
  align-items: center;
}
.spinner {
    display: block;
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    animation: spin 2s linear infinite;
    z-index: 1001;
}

.spinner::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    animation: spin 3s linear infinite;
}

.spinner::after {
content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

/* end of loader ========================================================================== */







// .sub-title{
//   font-size: 20px;
//   text-align: center;
//   font-weight: 700;
//   color: brown;
// }

// .sub-title:hover{
// text-decoration: underline;
// color: brown;
// }


//   .base-color {
//     background: var(--color-text);
//     color: var(--color-primary);
//     border: var(--color-text);
// }

// .form-border{
//   border: 1px solid var(--color-text);
// }

// .base-color2{
//   background: var(--color-text);
//   color: var(--color-primary);
//   border: var(--color-primary);
// }

// .base-color3{
//   background: var(--color-text);
//   color: var(--color-primary);
//   border: var(--color-text);
// }

// .border-color>tbody>tr>td{
//   border-top: 1px solid #ddd;
// }

// /* panel-css */
// .detail-plan{
//   background: var(--color-body);
// }


// .header-background>tr>th{
//   padding:3px;
// }

// .table-data a{
//   color: var(--color-primary);
//   cursor: pointer;
// }



// .table-data .icon{
//   color: var(--color-primary);
//   cursor: pointer;
// }

// button:disabled{
//   cursor: no-drop;
// }

// .btn-del{
//   color: var(--color-primary);
// }


// .margin:focus {
//   background-color: var(--color0);
//   border-color: var(--color-primary);
// }

// .btn-edit{
//   color: var(--color-primary);
// }

// /* ========= */
// /* checkbox */
// /* ================= */

// .checkbox-container {
//   display: block;
//   position: relative;
//   padding-left: 35px;
//   margin-bottom: 12px;
//   cursor: pointer;
//   font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// /* Hide the browser's default checkbox */
// .checkbox-container input {
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
// }

// /* Create a custom checkbox */
// .checkmark {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   height: 25px;
//   width: 25px;
//   display: block;
//   background-color: #eee;
//   transform: translate(-50%);
//   border:2px solid var(--color-primary);;
//   box-shadow: 0 0 10px lightgrey;
// }
// .checkbox-container input[disabled] ~ .checkmark{
//   border:0px;
//   box-shadow: 0 0 0;
// }


// /* On mouse-over, add a grey background color */
// .checkbox-container:hover input[disabled] ~ .checkmark{
//   border:0px;
//   box-shadow: 0 0 0;
//   cursor: not-allowed;
// }
// .checkbox-container:hover input ~ .checkmark {
  
// }
// /* .checkbox-container:hover input[disabled] ~ .checkmark {
//   background-color: #ccc;
// } */

// /* When the checkbox is checked, add a blue background */
// .checkbox-container input:checked ~ .checkmark {
//   background-color: var(--color-primary);;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
//   content: "";
//   position: absolute;
//   display: none;
// }

// /* Show the checkmark when checked */
// .checkbox-container input:checked ~ .checkmark:after {
//   display: block;
// }

// /* Style the checkmark/indicator */
// .checkbox-container .checkmark:after {
//   left: 9px;
//   top: 5px;
//   width: 5px;
//   height: 10px;
//   border: solid white;
//   border-width: 0 3px 3px 0;
//   -webkit-transform: rotate(45deg);
//   -ms-transform: rotate(45deg);
//   transform: rotate(45deg);
// }
// /* ================= */
// /* end of checkbox */
// /* ================= */





/*Grid By Pankaj*/
.grid{
  width: 100%;
  overflow-x: hidden;
  background: var(--color-primary);;
  border-right: 1px solid var(--color-primary);;
}

.grid-head{
  display: grid;
  grid-gap: 1px;/*inner gap*/  
  background: white;
}

.grid-head .item{
  background: var(--color-primary);;
  color: white;
  font-weight: bold;
}

.grid-outer-body{
  display: grid;
  grid-gap: 1px;/*inner gap*/  
  padding: 1px;/*outer gap or border of table*/
}

.grid-inner-body{
  display: grid;
  grid-gap: 1px;/*inner gap*/
}

.item {
  padding: 8px;
  grid-row-start: 1;
  background-color: rgb(255, 255, 255);  
}

.grid-outer-footer{
  grid-template-columns:100%;
}

.grid-outer-footer .item{
  text-align: center;
}

.hide-text{
  float: left;
  position: absolute;
  margin-top: 10px;
}
/* end og grid by pankaj */






/* fab */
div[fab]{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-primary);
  text-align: center;
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  color: white;
  transition:0.3s;
  cursor: pointer;
  padding:10px;
}
div[fab]:active{
  background:darken($primary,10);
  box-shadow:0 5px 10px rgba(0,0,0,0.27);
}
div[fab] i{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
/* end of fab */

// button.close{
//   right: 8px;
//   position: absolute;
// }

// .no-margin{
//   margin:0px;
// }

// .block .block-content h1 select{
//   background: transparent;
//     color: white;
//     border: 0px;
//     box-shadow: 0 0 0;
// }

// .flex-center{
//   list-style: none; 
//   display:flex;
//   justify-content:center
// }



/* //new designs */
.middle-fixed-box{
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

/* end of new designs */

/* /body style */
body{
  background:#eceff1;
  // background-size: 100vw !important;
  // background: #eceff1 url(https://firebase.google.com/images/backslant-home-repeat.svg) repeat-y 50% 0;
}
// body:before{
//   content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     height: 100vw;
//     background: url(https://firebase.google.com/images/backslant-sub-top.svg) no-repeat 50% 0/100%;
//     background-size: 100%;
// }
/* end of body styles */

/* overriding bootstrap modal */
.navbar-dark{
  background:var(--color-primary);
}
.navbar{
  position: sticky;
    top: 0;
    z-index: 2;
  box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.container nav{
  margin-top:20px;
}

.breadcrumb .active a{
  color:var(--color-primary);
  font-weight: bold;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:15px;
}

.user-menu{
    right: 10px;
    left: initial;
    padding:0px;
    transition: transform .2s,visibility .2s;
    transform: translateY(0);
    box-shadow: 0 7px 27px rgba(0, 0, 0, 0.48);
    .image{
      width:40%;
      margin-left:10px;
      img{
        width:100px;
        height:100px;
        border-radius:50%;
      }
    }
    .data{
      padding: 10px 16px;
      width:100%;
      p{
        color:gray;
        text-transform: capitalize;
        margin-bottom: 0px;
      }
      .mail{
        display:flex;
        margin-top:5px;
        div{
          margin-top:-5px;
          margin-left:10px;
        }
        }
        .mail svg{
          color:var(--color-primary)!important;
        }
    }
    .dropdown-footer{
      background:var(--color-body);
      border-top:1px solid darkgray;
      display:flex;
      justify-content: space-between;
    }
}

.modal{
  .modal-dialog, .data-fidder{
    box-shadow: 0 17px 17px rgba(0,0,0,.15), 0 27px 55px rgba(0,0,0,.3);
    .modal-content{
      background:$second-back;
      border-radius:0px !important;
      .modal-title{
        color:black;
      }
      .close{
        color: gray;
        text-shadow: 0 0 0;
        opacity: 1;
        padding: 0px;
        margin: 0;
        margin-top:-10px;
        height: 30px;
        width: 30px;
        &:hover{
          color:black;
        }
      }
      .modal-footer{
        border-top:0px;
      }
    }
    .modal-box{
      background:white;
      border: 1px solid lightgray;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
  }
}
.modal-header{
  border-bottom:0px;
}
.modal-footer{
  border-top:0px;
}

.form-group{
  label{
    color: rgba(0,0,0,0.54);
    font-size: 13px;

  }
}
.form-control, {
  border-radius: 0px;
}
.ajs-modal{
  .ajs-dialog{
    .ajs-header{
      background:white;
      border-bottom:0px;
    }
    .ajs-ok{
      @extend .btn-sp;
      @extend .btn-default;
    }
    .ajs-close{
      color:gray;
      &:hover{
        color:black;
      }
    }
    .ajs-cancel{
      color:gray !important;
      padding: 10px 25px;
      margin: 0 10px 20px 20px;
      cursor: pointer;
      &:hover{
        background:lighten(gray,40) !important;
      }
    }
    .ajs-footer{
      background:white;
      border-top:0px;
    }
  }
}
.ajs-error{
  background:$danger;
}

.alertify-notifier .ajs-message.ajs-success{
    background:lighten(black,20) !important;
    color:white;
}


.breadcrumb{
  background:#d5d5d5;
  li{
    a{
      color: #707070;
    }
  }
}

.navbar{
  .navbar-nav{
    a{
      color:initial;
    }
  }
}

thead{
  background:$primary;
  color:white;
}

input[type=checkbox], input[type=radio]{
  cursor: pointer;
}

input[disabled]{
  cursor:no-drop;
}

.list-group-flush {
    .list-group-item{
      padding:2px 6px;
    }
}
/* end of bootstrap modal */


// Tree view
tree-view{
  ul{
    border-left:1px solid $primary;
    margin:5px 5px 0 0;
    padding-left: 20px;
    position: relative;
    margin-top:0px;
    &:before{
      // position: absolute;
      // content:'';
      // height: 15px;
      // top: -13px;
      // left: 7px;
      // border-left:1px solid $primary;
    }
    label{
      display: flex;
      justify-content: start;
    }
    input[type=checkbox], input[type=radio]{
      margin-right: 10px;
      margin-left: -5px;
      margin-top: 5px;
    }
  }
}

// end of tree view
