<div class="container-fluid filter">
 <div class="panel panel-default content">
  <div class="panel-heading">
   <h4 class="panel-title">Selection Section
     <a class="close" routerLink="../">&times;</a>
   </h4>
  </div>
  <div class="panel-body">
   <div class="form-group" *ngIf="role=='hod'||role=='coordinator'; else heirarchy">
    <label class="col-lg-4">Departments</label>
    <div class="col-lg-8">
     <select class="form-control" (ngModelChange)="viewDepartment($event)" [(ngModel)]="departmentModel" >
      <option value="0">All Departments</option>
      <option *ngFor="let dept of departments;let d = index;" [ngValue]="dept.departmentId">{{dept.department}}</option>
     </select>     
    </div>
   </div>
   <ng-template #heirarchy>
     <div style="height:50vh;overflow-y: scroll;">
       <b>Organisation Unit</b>
       <tree-view id="termSheetPopup" [treeData]="departments" (onSelected)="department($event)"></tree-view>
     </div>
   </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-save" (click)="goBack()">Apply</button>
  </div>
 </div>
</div>
